{
  "openapi": "3.1.0",
  "info": {
    "title": "Dedalus API",
    "description": "MCP gateway for AI agents. Mix-and-match any model with any tool from our marketplace.\n\n## Authentication\nUse Bearer token or X-API-Key header authentication:\n```\nAuthorization: Bearer your-api-key-here\n```\n```\nx-api-key: your-api-key-here\n```\n\n## Available Endpoints\n- **GET /v1/models**: list available models\n- **POST /v1/chat/completions**: Chat completions with MCP tools\n- **GET /health**: Service health check",
    "version": "0.0.2"
  },
  "servers": [
    {
      "url": "https://api.dedaluslabs.ai",
      "description": "Production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "health"
        ],
        "summary": "Health Check",
        "description": "Simple health check.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "v1",
          "v1"
        ],
        "summary": "List Models",
        "description": "List available models.\n\nRetrieve the complete list of models available to your organization, including\nmodels from OpenAI, Anthropic, Google, xAI, Mistral, Fireworks, and DeepSeek.\n\nReturns:\n    ListModelsResponse: List of available models across all supported providers",
        "operationId": "list_models_v1_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListModelsResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/models/{model_id}": {
      "get": {
        "tags": [
          "v1",
          "v1"
        ],
        "summary": "Get Model",
        "description": "Retrieve a model.\n\nRetrieve detailed information about a specific model, including its capabilities,\nprovider, and supported features.\n\nArgs:\n    model_id: The ID of the model to retrieve (e.g., 'openai/gpt-4', 'anthropic/claude-3-5-sonnet-20241022')\n    user: Authenticated user obtained from API key validation\n\nReturns:\n    Model: Information about the requested model\n\nRaises:\n    HTTPException:\n        - 401 if authentication fails\n        - 404 if model not found or not accessible with current API key\n        - 500 if internal error occurs\n\nRequires:\n    Valid API key with 'read' scope permission\n\nExample:\n    ```python\n    import dedalus_labs\n\n    client = dedalus_labs.Client(api_key=\"your-api-key\")\n    model = client.models.retrieve(\"openai/gpt-4\")\n\n    print(f\"Model: {model.id}\")\n    print(f\"Owner: {model.owned_by}\")\n    ```\n\n    Response:\n    ```json\n    {\n        \"id\": \"openai/gpt-4\",\n        \"object\": \"model\",\n        \"created\": 1687882411,\n        \"owned_by\": \"openai\"\n    }\n    ```",
        "operationId": "get_model_v1_models__model_id__get",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Model Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Model"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": [
          "v1",
          "chat"
        ],
        "summary": "Create Chat Completion",
        "description": "Create a chat completion.\n\nUnified chat-completions endpoint that works across many model providers. Supports\noptional MCP integration, multi-model routing with agentic handoffs, server- or\nclient-executed tools, and both streaming and non-streaming delivery.\n\nRequest body:\n  - messages: ordered list of chat turns.\n  - model: identifier or a list of identifiers for routing.\n  - tools: optional tool declarations available to the model.\n  - mcp_servers: optional list of MCP server slugs to enable during the run.\n  - stream: boolean to request incremental output.\n  - config: optional generation parameters (e.g., temperature, max_tokens, metadata).\n\nHeaders:\n  - Authorization: bearer key for the calling account.\n  - Optional BYOK or provider headers if applicable.\n\nBehavior:\n  - If multiple models are supplied, the router may select or hand off across them.\n  - Tools may be invoked on the server or signaled for the client to run.\n  - Streaming responses emit incremental deltas; non-streaming returns a single object.\n  - Usage metrics are computed when available and returned in the response.\n\nResponses:\n  - 200 OK: JSON completion object with choices, message content, and usage.\n  - 400 Bad Request: validation error.\n  - 401 Unauthorized: authentication failed.\n  - 402 Payment Required or 429 Too Many Requests: quota, balance, or rate limit issue.\n  - 500 Internal Server Error: unexpected failure.\n\nBilling:\n  - Token usage metered by the selected model(s).\n  - Tool calls and MCP sessions may be billed separately.\n  - Streaming is settled after the stream ends via an async task.\n\nExample (non-streaming HTTP):\n  POST /v1/chat/completions\n  Content-Type: application/json\n  Authorization: Bearer <key>\n\n  {\n    \"model\": \"provider/model-name\",\n    \"messages\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n  }\n\n  200 OK\n  {\n    \"id\": \"cmpl_123\",\n    \"object\": \"chat.completion\",\n    \"choices\": [\n      {\"index\": 0, \"message\": {\"role\": \"assistant\", \"content\": \"Hi there!\"}, \"finish_reason\": \"stop\"}\n    ],\n    \"usage\": {\"prompt_tokens\": 3, \"completion_tokens\": 4, \"total_tokens\": 7}\n  }\n\nExample (streaming over SSE):\n  POST /v1/chat/completions\n  Accept: text/event-stream\n\n  data: {\"id\":\"cmpl_123\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\"Hi\"}}]}\n  data: {\"id\":\"cmpl_123\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\" there!\"}}]}\n  data: [DONE]",
        "operationId": "create_chat_completion_v1_chat_completions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON or SSE stream of ChatCompletionChunk events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletion"
                }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionChunk"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": [
          "v1",
          "v1"
        ],
        "summary": "Create Embeddings",
        "description": "Create embeddings using the configured provider.",
        "operationId": "create_embeddings_v1_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmbeddingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmbeddingResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": [
          "v1",
          "audio"
        ],
        "summary": "Create Speech",
        "description": "Generate speech audio from text.\n\nGenerates audio from the input text using text-to-speech models. Supports multiple\nvoices and output formats including mp3, opus, aac, flac, wav, and pcm.\n\nReturns streaming audio data that can be saved to a file or streamed directly to users.",
        "operationId": "create_speech_v1_audio_speech_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpeechRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Audio file stream",
            "content": {
              "audio/mpeg": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": [
          "v1",
          "audio"
        ],
        "summary": "Create Transcription",
        "description": "Transcribe audio into text.\n\nTranscribes audio files using OpenAI's Whisper model. Supports multiple audio formats\nincluding mp3, mp4, mpeg, mpga, m4a, wav, and webm. Maximum file size is 25 MB.\n\nArgs:\n    file: Audio file to transcribe (required)\n    model: Model ID to use (e.g., \"openai/whisper-1\")\n    language: ISO-639-1 language code (e.g., \"en\", \"es\") - improves accuracy\n    prompt: Optional text to guide the model's style\n    response_format: Format of the output (json, text, srt, verbose_json, vtt)\n    temperature: Sampling temperature between 0 and 1\n\nReturns:\n    Transcription object with the transcribed text",
        "operationId": "create_transcription_v1_audio_transcriptions_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_transcription_v1_audio_transcriptions_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CreateTranscriptionResponseVerboseJson"
                    },
                    {
                      "$ref": "#/components/schemas/CreateTranscriptionResponseJson"
                    }
                  ],
                  "title": "Response Create Transcription V1 Audio Transcriptions Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/audio/translations": {
      "post": {
        "tags": [
          "v1",
          "audio"
        ],
        "summary": "Create Translation",
        "description": "Translate audio into English.\n\nTranslates audio files in any supported language to English text using OpenAI's\nWhisper model. Supports the same audio formats as transcription. Maximum file size\nis 25 MB.\n\nArgs:\n    file: Audio file to translate (required)\n    model: Model ID to use (e.g., \"openai/whisper-1\")\n    prompt: Optional text to guide the model's style\n    response_format: Format of the output (json, text, srt, verbose_json, vtt)\n    temperature: Sampling temperature between 0 and 1\n\nReturns:\n    Translation object with the English translation",
        "operationId": "create_translation_v1_audio_translations_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_translation_v1_audio_translations_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CreateTranslationResponseVerboseJson"
                    },
                    {
                      "$ref": "#/components/schemas/CreateTranslationResponseJson"
                    }
                  ],
                  "title": "Response Create Translation V1 Audio Translations Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": [
          "v1",
          "images"
        ],
        "summary": "Create Image",
        "description": "Generate images from text prompts.\n\nPure image generation models only (DALL-E, GPT Image).\nFor multimodal models like gemini-2.5-flash-image, use /v1/chat/completions.",
        "operationId": "create_image_v1_images_generations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageGenerateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/images/edits": {
      "post": {
        "tags": [
          "v1",
          "images"
        ],
        "summary": "Edit Image",
        "description": "Edit images using inpainting.\n\nSupports dall-e-2 and gpt-image-1. Upload an image and optionally a mask\nto indicate which areas to regenerate based on the prompt.",
        "operationId": "edit_image_v1_images_edits_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_edit_image_v1_images_edits_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/v1/images/variations": {
      "post": {
        "tags": [
          "v1",
          "images"
        ],
        "summary": "Create Variation",
        "description": "Create variations of an image.\n\nDALL\u00b7E 2 only. Upload an image to generate variations.",
        "operationId": "create_variation_v1_images_variations_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_variation_v1_images_variations_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagesResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/": {
      "get": {
        "summary": "Root",
        "operationId": "root__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RootResponse"
                }
              }
            }
          }
        }
      }
    },
    "/favicon.ico": {
      "get": {
        "tags": [
          "private"
        ],
        "summary": "Favicon",
        "description": "Browser favicon endpoint. Automatically excluded from SDK generation.",
        "operationId": "favicon_favicon_ico_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        },
        "deprecated": true
      }
    }
  },
  "components": {
    "schemas": {
      "AnnotationsItem": {
        "properties": {
          "type": {
            "type": "string",
            "const": "url_citation",
            "title": "Type",
            "description": "The type of the URL citation. Always `url_citation`.",
            "x-order": 0
          },
          "url_citation": {
            "$ref": "#/components/schemas/UrlCitation",
            "description": "A URL citation when using web search.",
            "x-order": 1
          }
        },
        "type": "object",
        "required": [
          "type",
          "url_citation"
        ],
        "title": "AnnotationsItem",
        "description": "A URL citation when using web search.\n\nFields:\n  - type (required): Literal['url_citation']\n  - url_citation (required): UrlCitation"
      },
      "Audio": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for this audio response.",
            "x-order": 0
          },
          "expires_at": {
            "type": "integer",
            "title": "Expires At",
            "description": "The Unix timestamp (in seconds) for when this audio response will\nno longer be accessible on the server for use in multi-turn\nconversations.",
            "x-order": 1
          },
          "data": {
            "type": "string",
            "title": "Data",
            "description": "Base64 encoded audio bytes generated by the model, in the format\nspecified in the request.",
            "x-order": 2
          },
          "transcript": {
            "type": "string",
            "title": "Transcript",
            "description": "Transcript of the audio generated by the model.",
            "x-order": 3
          }
        },
        "type": "object",
        "required": [
          "id",
          "expires_at",
          "data",
          "transcript"
        ],
        "title": "Audio",
        "description": "If the audio output modality is requested, this object contains data\n\nabout the audio response from the model. [Learn more](https://platform.openai.com/docs/guides/audio).\n\nFields:\n  - id (required): str\n  - expires_at (required): int\n  - data (required): str\n  - transcript (required): str"
      },
      "Body_create_transcription_v1_audio_transcriptions_post": {
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "language": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Language"
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt"
          },
          "response_format": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format"
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature"
          }
        },
        "type": "object",
        "required": [
          "file",
          "model"
        ],
        "title": "Body_create_transcription_v1_audio_transcriptions_post"
      },
      "Body_create_translation_v1_audio_translations_post": {
        "properties": {
          "file": {
            "type": "string",
            "format": "binary",
            "title": "File"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "prompt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt"
          },
          "response_format": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format"
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number"
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature"
          }
        },
        "type": "object",
        "required": [
          "file",
          "model"
        ],
        "title": "Body_create_translation_v1_audio_translations_post"
      },
      "Body_create_variation_v1_images_variations_post": {
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "title": "Image"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model",
            "default": "openai/dall-e-2"
          },
          "n": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "N",
            "default": 1
          },
          "size": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Size",
            "default": "1024x1024"
          },
          "response_format": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format",
            "default": "url"
          },
          "user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User"
          }
        },
        "type": "object",
        "required": [
          "image"
        ],
        "title": "Body_create_variation_v1_images_variations_post"
      },
      "Body_edit_image_v1_images_edits_post": {
        "properties": {
          "image": {
            "type": "string",
            "format": "binary",
            "title": "Image"
          },
          "prompt": {
            "type": "string",
            "title": "Prompt"
          },
          "mask": {
            "anyOf": [
              {
                "type": "string",
                "format": "binary"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mask"
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model",
            "default": "openai/dall-e-2"
          },
          "n": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "N",
            "default": 1
          },
          "size": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Size",
            "default": "1024x1024"
          },
          "response_format": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format",
            "default": "url"
          },
          "user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User"
          }
        },
        "type": "object",
        "required": [
          "image",
          "prompt"
        ],
        "title": "Body_edit_image_v1_images_edits_post"
      },
      "ChatCompletion": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "A unique identifier for the chat completion.",
            "x-order": 0
          },
          "choices": {
            "items": {
              "$ref": "#/components/schemas/Choice"
            },
            "type": "array",
            "title": "Choices",
            "description": "A list of chat completion choices. Can be more than one if `n` is greater than 1.",
            "x-order": 1
          },
          "created": {
            "type": "integer",
            "title": "Created",
            "description": "The Unix timestamp (in seconds) of when the chat completion was created.",
            "x-order": 2
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "The model used for the chat completion.",
            "x-order": 3
          },
          "service_tier": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "default",
                  "flex",
                  "scale",
                  "priority"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Tier",
            "description": "Specifies the processing type used for serving the request.\n  - If set to 'auto', then the request will be processed with the service tier configured in the Project settings. Unless otherwise configured, the Project will use 'default'.\n  - If set to 'default', then the request will be processed with the standard pricing and performance for the selected model.\n  - If set to '[flex](https://platform.openai.com/docs/guides/flex-processing)' or '[priority](https://openai.com/api-priority-processing/)', then the request will be processed with the corresponding service tier.\n  - When not set, the default behavior is 'auto'.\n\n  When the `service_tier` parameter is set, the response body will include the `service_tier` value based on the processing mode actually used to serve the request. This response value may be different from the value set in the parameter.",
            "x-order": 4
          },
          "system_fingerprint": {
            "type": "string",
            "title": "System Fingerprint",
            "description": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the `seed` request parameter to understand when backend changes have been made that might impact determinism.",
            "x-order": 5
          },
          "object": {
            "type": "string",
            "const": "chat.completion",
            "title": "Object",
            "description": "The object type, which is always `chat.completion`.",
            "x-order": 6
          },
          "usage": {
            "$ref": "#/components/schemas/CompletionUsage",
            "description": "Usage statistics for the completion request.",
            "x-order": 7
          },
          "tools_executed": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tools Executed",
            "description": "List of tool names that were executed server-side (e.g., MCP tools). Only present when tools were executed on the server rather than returned for client-side execution."
          },
          "mcp_server_errors": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mcp Server Errors",
            "description": "Information about MCP server failures, if any occurred during the request. Contains details about which servers failed and why, along with recommendations for the user. Only present when MCP server failures occurred."
          }
        },
        "type": "object",
        "required": [
          "id",
          "choices",
          "created",
          "model",
          "object"
        ],
        "title": "ChatCompletion",
        "description": "Chat completion response for Dedalus API.\n\nOpenAI-compatible chat completion response with Dedalus extensions.\nMaintains full compatibility with OpenAI API while providing additional\nfeatures like server-side tool execution tracking and MCP error reporting.",
        "example": {
          "choices": [
            {
              "finish_reason": "stop",
              "index": 0,
              "message": {
                "content": "The next Warriors game is tomorrow at 7:30 PM.",
                "role": "assistant"
              }
            }
          ],
          "created": 1677652288,
          "id": "chatcmpl-123",
          "model": "gpt-4o-mini",
          "object": "chat.completion",
          "tools_executed": [
            "search_events",
            "get_event_details"
          ],
          "usage": {
            "completion_tokens": 12,
            "prompt_tokens": 9,
            "total_tokens": 21
          }
        }
      },
      "ChatCompletionMessageCustomToolCall": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The ID of the tool call.",
            "x-order": 0
          },
          "type": {
            "type": "string",
            "const": "custom",
            "title": "Type",
            "description": "The type of the tool. Always `custom`.",
            "x-order": 1
          },
          "custom": {
            "$ref": "#/components/schemas/Custom",
            "description": "The custom tool that the model called.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": [
          "id",
          "type",
          "custom"
        ],
        "title": "ChatCompletionMessageCustomToolCall",
        "description": "A call to a custom tool created by the model.\n\nFields:\n  - id (required): str\n  - type (required): Literal['custom']\n  - custom (required): Custom"
      },
      "ChatCompletionMessageToolCall": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The ID of the tool call.",
            "x-order": 0
          },
          "type": {
            "type": "string",
            "const": "function",
            "title": "Type",
            "description": "The type of the tool. Currently, only `function` is supported.",
            "x-order": 1
          },
          "function": {
            "$ref": "#/components/schemas/Function",
            "description": "The function that the model called.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": [
          "id",
          "type",
          "function"
        ],
        "title": "ChatCompletionMessageToolCall",
        "description": "A call to a function tool created by the model.\n\nFields:\n  - id (required): str\n  - type (required): Literal['function']\n  - function (required): Function"
      },
      "ChatCompletionRequest": {
        "properties": {
          "model": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/DedalusModelChoice"
              },
              {
                "$ref": "#/components/schemas/Models"
              }
            ],
            "title": "Model",
            "description": "Model(s) to use for completion. Can be a single model ID, a DedalusModel object, or a list for multi-model routing. Single model: 'openai/gpt-4', 'anthropic/claude-3-5-sonnet-20241022', 'openai/gpt-4o-mini', or a DedalusModel instance. Multi-model routing: ['openai/gpt-4o-mini', 'openai/gpt-4', 'anthropic/claude-3-5-sonnet'] or list of DedalusModel objects - agent will choose optimal model based on task complexity.",
            "examples": [
              "openai/gpt-4",
              [
                "openai/gpt-4o-mini",
                "openai/gpt-4",
                "anthropic/claude-3-5-sonnet"
              ],
              {
                "cost": 0.8,
                "intelligence": 0.9,
                "max_tokens": 1000,
                "name": "openai/gpt-4",
                "temperature": 0.7
              },
              [
                "openai/gpt-4o-mini",
                {
                  "creativity": 0.8,
                  "name": "openai/gpt-4",
                  "speed": 0.9,
                  "temperature": 0.5
                }
              ]
            ]
          },
          "messages": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Messages",
            "description": "Conversation history. Accepts either a list of message objects or a string, which is treated as a single user message. Optional if `input` or `instructions` is provided.",
            "examples": [
              [
                {
                  "content": "Hello, how are you?",
                  "role": "user"
                }
              ],
              "Summarize the following:"
            ]
          },
          "input": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Input",
            "description": "Convenience alias for Responses-style `input`. Used when `messages` is omitted to provide the user prompt directly.",
            "examples": [
              "Translate this paragraph into French."
            ]
          },
          "temperature": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 2.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Temperature",
            "description": "What sampling temperature to use, between 0 and 2. Higher values like 0.8 make the output more random, while lower values like 0.2 make it more focused and deterministic. We generally recommend altering this or 'top_p' but not both.",
            "examples": [
              0.0,
              0.7,
              1.0
            ]
          },
          "top_p": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 1.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Top P",
            "description": "An alternative to sampling with temperature, called nucleus sampling, where the model considers the results of the tokens with top_p probability mass. So 0.1 means only the tokens comprising the top 10% probability mass are considered. We generally recommend altering this or 'temperature' but not both.",
            "examples": [
              0.1,
              0.9,
              1.0
            ]
          },
          "max_tokens": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Tokens",
            "description": "The maximum number of tokens that can be generated in the chat completion. This value can be used to control costs for text generated via API. This value is now deprecated in favor of 'max_completion_tokens' and is not compatible with o-series models.",
            "examples": [
              100,
              1000,
              4000
            ]
          },
          "presence_penalty": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 2.0,
                "minimum": -2.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Presence Penalty",
            "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics.",
            "examples": [
              -0.5,
              0.0,
              0.6
            ]
          },
          "frequency_penalty": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 2.0,
                "minimum": -2.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Frequency Penalty",
            "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim.",
            "examples": [
              -0.5,
              0.0,
              0.6
            ]
          },
          "logit_bias": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "integer"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Logit Bias",
            "description": "Modify the likelihood of specified tokens appearing in the completion. Accepts a JSON object mapping token IDs (as strings) to bias values from -100 to 100. The bias is added to the logits before sampling; values between -1 and 1 nudge selection probability, while values like -100 or 100 effectively ban or require a token.",
            "examples": [
              {
                "50256": -100
              },
              {
                "1234": 10,
                "5678": -50
              }
            ]
          },
          "stop": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stop",
            "description": "Not supported with latest reasoning models 'o3' and 'o4-mini'.\n\n        Up to 4 sequences where the API will stop generating further tokens; the returned text will not contain the stop sequence.",
            "examples": [
              [
                "\n",
                "END"
              ],
              [
                "Human:",
                "Assistant:"
              ]
            ]
          },
          "thinking": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/ThinkingConfigDisabled"
                  },
                  {
                    "$ref": "#/components/schemas/ThinkingConfigEnabled"
                  }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "disabled": "#/components/schemas/ThinkingConfigDisabled",
                    "enabled": "#/components/schemas/ThinkingConfigEnabled"
                  }
                }
              },
              {
                "type": "null"
              }
            ],
            "title": "Thinking",
            "description": "Extended thinking configuration (Anthropic only). Enables thinking blocks showing reasoning process. Requires min 1,024 token budget.",
            "examples": [
              {
                "budget_tokens": 2048,
                "type": "enabled"
              }
            ]
          },
          "top_k": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Top K",
            "description": "Top-k sampling. Anthropic: pass-through. Google: injected into generationConfig.topK.",
            "examples": [
              40
            ]
          },
          "system": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "System",
            "description": "System prompt/instructions. Anthropic: pass-through. Google: converted to systemInstruction. OpenAI: extracted from messages.",
            "examples": [
              "You are a helpful assistant."
            ]
          },
          "instructions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Instructions",
            "description": "Convenience alias for Responses-style `instructions`. Takes precedence over `system` and over system-role messages when provided.",
            "examples": [
              "You are a concise assistant."
            ]
          },
          "generation_config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Generation Config",
            "description": "Google generationConfig object. Merged with auto-generated config. Use for Google-specific params (candidateCount, responseMimeType, etc.).",
            "examples": [
              {
                "candidateCount": 2,
                "responseMimeType": "application/json"
              }
            ]
          },
          "safety_settings": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Safety Settings",
            "description": "Google safety settings (harm categories and thresholds).",
            "examples": [
              [
                {
                  "category": "HARM_CATEGORY_HARASSMENT",
                  "threshold": "BLOCK_NONE"
                }
              ]
            ]
          },
          "tool_config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Config",
            "description": "Google tool configuration (function calling mode, etc.).",
            "examples": [
              {
                "function_calling_config": {
                  "mode": "ANY"
                }
              }
            ]
          },
          "disable_automatic_function_calling": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Disable Automatic Function Calling",
            "description": "Google-only flag to disable the SDK's automatic function execution. When true, the model returns function calls for the client to execute manually.",
            "examples": [
              true,
              false
            ]
          },
          "seed": {
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "title": "Seed",
            "description": "If specified, system will make a best effort to sample deterministically. Determinism is not guaranteed for the same seed across different models or API versions.",
            "examples": [
              42,
              12345
            ]
          },
          "user": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "User",
            "description": "Stable identifier for your end-users. Helps OpenAI detect and prevent abuse and may boost cache hit rates. This field is being replaced by 'safety_identifier' and 'prompt_cache_key'.",
            "examples": [
              "user-123",
              "customer@example.com"
            ]
          },
          "n": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 128.0,
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "N",
            "description": "How many chat completion choices to generate for each input message. Keep 'n' as 1 to minimize costs.",
            "examples": [
              1
            ]
          },
          "stream": {
            "type": "boolean",
            "title": "Stream",
            "description": "If true, the model response data is streamed to the client as it is generated using Server-Sent Events.",
            "default": false,
            "examples": [
              true,
              false
            ]
          },
          "stream_options": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Stream Options",
            "description": "Options for streaming responses. Only set when 'stream' is true (supports 'include_usage' and 'include_obfuscation').",
            "examples": [
              {
                "include_usage": true
              }
            ]
          },
          "response_format": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ResponseFormatText"
              },
              {
                "$ref": "#/components/schemas/ResponseFormatJsonObject"
              },
              {
                "$ref": "#/components/schemas/ResponseFormatJsonSchema"
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format",
            "description": "An object specifying the format that the model must output. Use {'type': 'json_schema', 'json_schema': {...}} for structured outputs or {'type': 'json_object'} for the legacy JSON mode. Currently only OpenAI-prefixed models honor this field; Anthropic and Google requests will return an invalid_request_error if it is supplied.",
            "examples": [
              {
                "type": "text"
              },
              {
                "type": "json_object"
              },
              {
                "json_schema": {
                  "name": "math_response",
                  "schema": {},
                  "strict": true
                },
                "type": "json_schema"
              }
            ]
          },
          "tools": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tools",
            "description": "A list of tools the model may call. Supports OpenAI function tools and custom tools; use 'mcp_servers' for Dedalus-managed server-side tools.",
            "examples": [
              [
                {
                  "function": {
                    "description": "Get current weather for a location",
                    "name": "get_weather",
                    "parameters": {
                      "properties": {
                        "location": {
                          "description": "City name",
                          "type": "string"
                        }
                      },
                      "required": [
                        "location"
                      ],
                      "type": "object"
                    }
                  },
                  "type": "function"
                }
              ]
            ]
          },
          "tool_choice": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Tool Choice",
            "description": "Controls which (if any) tool is called by the model. 'none' stops tool calling, 'auto' lets the model decide, and 'required' forces at least one tool invocation. Specific tool payloads force that tool.",
            "examples": [
              "auto",
              "none",
              "required",
              {
                "function": {
                  "name": "get_weather"
                },
                "type": "function"
              }
            ]
          },
          "parallel_tool_calls": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Parallel Tool Calls",
            "description": "Whether to enable parallel function calling during tool use.",
            "examples": [
              true,
              false
            ]
          },
          "functions": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Functions",
            "description": "Deprecated in favor of 'tools'. Legacy list of function definitions the model may generate JSON inputs for."
          },
          "function_call": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Function Call",
            "description": "Deprecated in favor of 'tool_choice'. Controls which function is called by the model (none, auto, or specific name)."
          },
          "logprobs": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Logprobs",
            "description": "Whether to return log probabilities of the output tokens. If true, returns the log probabilities for each token in the response content.",
            "examples": [
              true,
              false
            ]
          },
          "top_logprobs": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 20.0,
                "minimum": 0.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Top Logprobs",
            "description": "An integer between 0 and 20 specifying how many of the most likely tokens to return at each position, with log probabilities. Requires 'logprobs' to be true.",
            "examples": [
              5,
              10
            ]
          },
          "max_completion_tokens": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Completion Tokens",
            "description": "An upper bound for the number of tokens that can be generated for a completion, including visible output and reasoning tokens.",
            "examples": [
              1000,
              4000
            ]
          },
          "reasoning_effort": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Reasoning Effort",
            "description": "Constrains effort on reasoning for supported reasoning models. Higher values use more compute, potentially improving reasoning quality at the cost of latency and tokens.",
            "examples": [
              "medium",
              "high"
            ]
          },
          "audio": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Audio",
            "description": "Parameters for audio output. Required when requesting audio responses (for example, modalities including 'audio').",
            "examples": [
              {
                "format": "mp3",
                "voice": "alloy"
              }
            ]
          },
          "modalities": {
            "anyOf": [
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Modalities",
            "description": "Output types you would like the model to generate. Most models default to ['text']; some support ['text', 'audio'].",
            "examples": [
              [
                "text"
              ],
              [
                "text",
                "audio"
              ]
            ]
          },
          "prediction": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prediction",
            "description": "Configuration for predicted outputs. Improves response times when you already know large portions of the response content."
          },
          "metadata": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "string"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Metadata",
            "description": "Set of up to 16 key-value string pairs that can be attached to the request for structured metadata.",
            "examples": [
              {
                "session": "abc",
                "user_id": "123"
              }
            ]
          },
          "store": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Store",
            "description": "Whether to store the output of this chat completion request for OpenAI model distillation or eval products. Image inputs over 8MB are dropped if storage is enabled.",
            "examples": [
              true,
              false
            ]
          },
          "service_tier": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "auto",
                  "default"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Service Tier",
            "description": "Specifies the processing tier used for the request. 'auto' uses project defaults, while 'default' forces standard pricing and performance.",
            "examples": [
              "auto",
              "default"
            ]
          },
          "prompt_cache_key": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Prompt Cache Key",
            "description": "Used by OpenAI to cache responses for similar requests and optimize cache hit rates. Replaces the legacy 'user' field for caching."
          },
          "safety_identifier": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Safety Identifier",
            "description": "Stable identifier used to help detect users who might violate OpenAI usage policies. Consider hashing end-user identifiers before sending."
          },
          "verbosity": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "low",
                  "medium",
                  "high"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Verbosity",
            "description": "Constrains the verbosity of the model's response. Lower values produce concise answers, higher values allow more detail."
          },
          "web_search_options": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Web Search Options",
            "description": "Configuration for OpenAI's web search tool. Learn more at https://platform.openai.com/docs/guides/tools-web-search?api-mode=chat."
          },
          "search_parameters": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Search Parameters",
            "description": "xAI-specific parameter for configuring web search data acquisition. If not set, no data will be acquired by the model."
          },
          "deferred": {
            "anyOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ],
            "title": "Deferred",
            "description": "xAI-specific parameter. If set to true, the request returns a request_id for async completion retrieval via GET /v1/chat/deferred-completion/{request_id}."
          },
          "mcp_servers": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Mcp Servers",
            "description": "MCP (Model Context Protocol) server addresses to make available for server-side tool execution. Entries can be URLs (e.g., 'https://mcp.example.com'), slugs (e.g., 'dedalus-labs/brave-search'), or structured objects specifying slug/version/url. MCP tools are executed server-side and billed separately.",
            "examples": [
              [
                "dedalus-labs/brave-search",
                "dedalus-labs/github-api"
              ]
            ]
          },
          "guardrails": {
            "anyOf": [
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Guardrails",
            "description": "Guardrails to apply to the agent for input/output validation and safety checks. Reserved for future use - guardrails configuration format not yet finalized."
          },
          "handoff_config": {
            "anyOf": [
              {
                "additionalProperties": true,
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Handoff Config",
            "description": "Configuration for multi-model handoffs and agent orchestration. Reserved for future use - handoff configuration format not yet finalized."
          },
          "model_attributes": {
            "anyOf": [
              {
                "additionalProperties": {
                  "additionalProperties": {
                    "type": "number"
                  },
                  "type": "object"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Model Attributes",
            "description": "Attributes for individual models used in routing decisions during multi-model execution. Format: {'model_name': {'attribute': value}}, where values are 0.0-1.0. Common attributes: 'intelligence', 'speed', 'cost', 'creativity', 'accuracy'. Used by agent to select optimal model based on task requirements.",
            "examples": [
              {
                "anthropic/claude-3-5-sonnet": {
                  "cost": 0.7,
                  "creativity": 0.8,
                  "intelligence": 0.95
                },
                "openai/gpt-4": {
                  "cost": 0.8,
                  "intelligence": 0.9,
                  "speed": 0.6
                },
                "openai/gpt-4o-mini": {
                  "cost": 0.2,
                  "intelligence": 0.7,
                  "speed": 0.9
                }
              }
            ]
          },
          "agent_attributes": {
            "anyOf": [
              {
                "additionalProperties": {
                  "type": "number"
                },
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Agent Attributes",
            "description": "Attributes for the agent itself, influencing behavior and model selection. Format: {'attribute': value}, where values are 0.0-1.0. Common attributes: 'complexity', 'accuracy', 'efficiency', 'creativity', 'friendliness'. Higher values indicate stronger preference for that characteristic.",
            "examples": [
              {
                "accuracy": 0.9,
                "complexity": 0.8,
                "efficiency": 0.7
              },
              {
                "creativity": 0.9,
                "friendliness": 0.8
              }
            ]
          },
          "max_turns": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 100.0,
                "minimum": 1.0
              },
              {
                "type": "null"
              }
            ],
            "title": "Max Turns",
            "description": "Maximum number of turns for agent execution before terminating (default: 10). Each turn represents one model inference cycle. Higher values allow more complex reasoning but increase cost and latency.",
            "examples": [
              5,
              10,
              20
            ]
          },
          "auto_execute_tools": {
            "type": "boolean",
            "title": "Auto Execute Tools",
            "description": "When False, skip server-side tool execution and return raw OpenAI-style tool_calls in the response.",
            "default": true,
            "examples": [
              true,
              false
            ]
          }
        },
        "type": "object",
        "required": [
          "model"
        ],
        "title": "ChatCompletionRequest",
        "description": "Chat completion request (OpenAI-compatible).\n\nStateless chat completion endpoint. For stateful conversations with threads,\nuse the Responses API instead."
      },
      "ChatCompletionResponseMessage": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "additionalProperties": true,
                  "type": "object"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "The contents of the message.",
            "x-order": 0
          },
          "refusal": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Refusal",
            "description": "The refusal message generated by the model.",
            "x-order": 1
          },
          "tool_calls": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageCustomToolCall"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "custom": "#/components/schemas/ChatCompletionMessageCustomToolCall",
                  "function": "#/components/schemas/ChatCompletionMessageToolCall"
                }
              }
            },
            "type": "array",
            "title": "Tool Calls",
            "description": "The tool calls generated by the model, such as function calls.",
            "x-order": 2
          },
          "annotations": {
            "items": {
              "$ref": "#/components/schemas/AnnotationsItem"
            },
            "type": "array",
            "title": "Annotations",
            "description": "Annotations for the message, when applicable, as when using the\n[web search tool](https://platform.openai.com/docs/guides/tools-web-search?api-mode=chat).",
            "x-order": 3
          },
          "role": {
            "type": "string",
            "const": "assistant",
            "title": "Role",
            "description": "The role of the author of this message.",
            "x-order": 4
          },
          "function_call": {
            "$ref": "#/components/schemas/FunctionCall",
            "description": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.",
            "x-order": 5
          },
          "audio": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/Audio"
              },
              {
                "type": "null"
              }
            ],
            "description": "If the audio output modality is requested, this object contains data\nabout the audio response from the model. [Learn more](https://platform.openai.com/docs/guides/audio).",
            "x-order": 6
          }
        },
        "type": "object",
        "required": [
          "content",
          "refusal",
          "role"
        ],
        "title": "ChatCompletionResponseMessage",
        "description": "A chat completion message generated by the model.\n\nFields:\n  - content (required): str | None\n  - refusal (required): str | None\n  - tool_calls (optional): ChatCompletionMessageToolCalls\n  - annotations (optional): list[AnnotationsItem]\n  - role (required): Literal['assistant']\n  - function_call (optional): FunctionCall\n  - audio (optional): Audio | None"
      },
      "ChatCompletionTokenLogprob": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token",
            "description": "The token.",
            "x-order": 0
          },
          "logprob": {
            "type": "number",
            "title": "Logprob",
            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
            "x-order": 1
          },
          "bytes": {
            "anyOf": [
              {
                "items": {
                  "type": "integer"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Bytes",
            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.",
            "x-order": 2
          },
          "top_logprobs": {
            "items": {
              "$ref": "#/components/schemas/TopLogprob"
            },
            "type": "array",
            "title": "Top Logprobs",
            "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested `top_logprobs` returned.",
            "x-order": 3
          }
        },
        "type": "object",
        "required": [
          "token",
          "logprob",
          "bytes",
          "top_logprobs"
        ],
        "title": "ChatCompletionTokenLogprob",
        "description": "Token log probability information."
      },
      "Choice": {
        "properties": {
          "finish_reason": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "stop",
                  "length",
                  "tool_calls",
                  "content_filter",
                  "function_call"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Finish Reason",
            "description": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\n`content_filter` if content was omitted due to a flag from our content filters,\n`tool_calls` if the model called a tool, or `function_call` (deprecated) if the model called a function.",
            "x-order": 0
          },
          "index": {
            "type": "integer",
            "title": "Index",
            "description": "The index of the choice in the list of choices.",
            "x-order": 1
          },
          "message": {
            "$ref": "#/components/schemas/ChatCompletionResponseMessage",
            "description": "A chat completion message generated by the model.",
            "x-order": 2
          },
          "logprobs": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ChoiceLogprobs"
              },
              {
                "type": "null"
              }
            ],
            "description": "Log probability information for the choice.",
            "x-order": 3
          }
        },
        "type": "object",
        "required": [
          "index",
          "message"
        ],
        "title": "Choice",
        "description": "A chat completion choice.\n\nOpenAI-compatible choice object for non-streaming responses.\nPart of the ChatCompletion response."
      },
      "ChoiceLogprobs": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionTokenLogprob"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Content",
            "description": "A list of message content tokens with log probability information.",
            "x-order": 0
          },
          "refusal": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionTokenLogprob"
                },
                "type": "array"
              },
              {
                "type": "null"
              }
            ],
            "title": "Refusal",
            "description": "A list of message refusal tokens with log probability information.",
            "x-order": 1
          }
        },
        "type": "object",
        "title": "ChoiceLogprobs",
        "description": "Log probability information for the choice."
      },
      "CompletionTokensDetails": {
        "properties": {
          "accepted_prediction_tokens": {
            "type": "integer",
            "title": "Accepted Prediction Tokens",
            "description": "When using Predicted Outputs, the number of tokens in the\nprediction that appeared in the completion.",
            "default": 0,
            "x-order": 0
          },
          "audio_tokens": {
            "type": "integer",
            "title": "Audio Tokens",
            "description": "Audio input tokens generated by the model.",
            "default": 0,
            "x-order": 1
          },
          "reasoning_tokens": {
            "type": "integer",
            "title": "Reasoning Tokens",
            "description": "Tokens generated by the model for reasoning.",
            "default": 0,
            "x-order": 2
          },
          "rejected_prediction_tokens": {
            "type": "integer",
            "title": "Rejected Prediction Tokens",
            "description": "When using Predicted Outputs, the number of tokens in the\nprediction that did not appear in the completion. However, like\nreasoning tokens, these tokens are still counted in the total\ncompletion tokens for purposes of billing, output, and context window\nlimits.",
            "default": 0,
            "x-order": 3
          }
        },
        "type": "object",
        "title": "CompletionTokensDetails",
        "description": "Breakdown of tokens used in a completion.\n\nFields:\n  - accepted_prediction_tokens (optional): int\n  - audio_tokens (optional): int\n  - reasoning_tokens (optional): int\n  - rejected_prediction_tokens (optional): int"
      },
      "CompletionUsage": {
        "properties": {
          "completion_tokens": {
            "type": "integer",
            "title": "Completion Tokens",
            "description": "Number of tokens in the generated completion.",
            "x-order": 0
          },
          "prompt_tokens": {
            "type": "integer",
            "title": "Prompt Tokens",
            "description": "Number of tokens in the prompt.",
            "x-order": 1
          },
          "total_tokens": {
            "type": "integer",
            "title": "Total Tokens",
            "description": "Total number of tokens used in the request (prompt + completion).",
            "x-order": 2
          },
          "completion_tokens_details": {
            "$ref": "#/components/schemas/CompletionTokensDetails",
            "description": "Breakdown of tokens used in a completion.",
            "x-order": 3
          },
          "prompt_tokens_details": {
            "$ref": "#/components/schemas/PromptTokensDetails",
            "description": "Breakdown of tokens used in the prompt.",
            "x-order": 4
          }
        },
        "type": "object",
        "required": [
          "completion_tokens",
          "prompt_tokens",
          "total_tokens"
        ],
        "title": "CompletionUsage",
        "description": "Usage statistics for the completion request.\n\nFields:\n  - completion_tokens (required): int\n  - prompt_tokens (required): int\n  - total_tokens (required): int\n  - completion_tokens_details (optional): CompletionTokensDetails\n  - prompt_tokens_details (optional): PromptTokensDetails"
      },
      "CreateEmbeddingRequest": {
        "properties": {
          "input": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "items": {
                  "type": "string"
                },
                "type": "array",
                "maxItems": 2048,
                "minItems": 1
              },
              {
                "items": {
                  "type": "integer"
                },
                "type": "array",
                "maxItems": 2048,
                "minItems": 1
              },
              {
                "items": {
                  "items": {
                    "type": "integer"
                  },
                  "type": "array",
                  "minItems": 1
                },
                "type": "array",
                "maxItems": 2048,
                "minItems": 1
              }
            ],
            "title": "Input",
            "description": "Input text to embed, encoded as a string or array of tokens. To embed multiple inputs in a single request, pass an array of strings or array of token arrays. The input must not exceed the max input tokens for the model (8192 tokens for all embedding models), cannot be an empty string, and any array must be 2048 dimensions or less. [Example Python code](https://cookbook.openai.com/examples/how_to_count_tokens_with_tiktoken) for counting tokens. In addition to the per-input token limit, all embedding  models enforce a maximum of 300,000 tokens summed across all inputs in a  single request.",
            "x-order": 0
          },
          "model": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "string",
                "enum": [
                  "text-embedding-ada-002",
                  "text-embedding-3-small",
                  "text-embedding-3-large"
                ]
              }
            ],
            "title": "Model",
            "description": "ID of the model to use. You can use the [List models](https://platform.openai.com/docs/api-reference/models/list) API to see all of your available models, or see our [Model overview](https://platform.openai.com/docs/models) for descriptions of them.",
            "x-order": 1
          },
          "encoding_format": {
            "type": "string",
            "enum": [
              "float",
              "base64"
            ],
            "title": "Encoding Format",
            "description": "The format to return the embeddings in. Can be either `float` or [`base64`](https://pypi.org/project/pybase64/).",
            "default": "float",
            "x-order": 2
          },
          "dimensions": {
            "type": "integer",
            "minimum": 1.0,
            "title": "Dimensions",
            "description": "The number of dimensions the resulting output embeddings should have. Only supported in `text-embedding-3` and later models.",
            "x-order": 3
          },
          "user": {
            "type": "string",
            "title": "User",
            "description": "A unique identifier representing your end-user, which can help OpenAI to monitor and detect abuse. [Learn more](https://platform.openai.com/docs/guides/safety-best-practices#end-user-ids).",
            "x-order": 4
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "input",
          "model"
        ],
        "title": "CreateEmbeddingRequest",
        "description": "Fields:\n- input (required): str | Annotated[list[str], MinLen(1), MaxLen(2048)] | Annotated[list[int], MinLen(1), MaxLen(2048)] | Annotated[list[Annotated[list[int], MinLen(1)]], MinLen(1), MaxLen(2048)]\n- model (required): str | Literal['text-embedding-ada-002', 'text-embedding-3-small', 'text-embedding-3-large']\n- encoding_format (optional): Literal['float', 'base64']\n- dimensions (optional): int\n- user (optional): str"
      },
      "CreateEmbeddingResponse": {
        "properties": {
          "object": {
            "type": "string",
            "const": "list",
            "title": "Object",
            "description": "Object type, always 'list'",
            "default": "list"
          },
          "data": {
            "items": {
              "$ref": "#/components/schemas/Embedding"
            },
            "type": "array",
            "title": "Data",
            "description": "List of embedding objects"
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "The model used for embeddings"
          },
          "usage": {
            "additionalProperties": {
              "type": "integer"
            },
            "type": "object",
            "title": "Usage",
            "description": "Usage statistics (prompt_tokens, total_tokens)"
          }
        },
        "type": "object",
        "required": [
          "data",
          "model",
          "usage"
        ],
        "title": "CreateEmbeddingResponse",
        "description": "Response from embeddings endpoint."
      },
      "CreateSpeechRequest": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "description": "One of the available [TTS models](https://platform.openai.com/docs/models#tts): `openai/tts-1`, `openai/tts-1-hd` or `openai/gpt-4o-mini-tts`.",
            "examples": [
              "openai/tts-1",
              "openai/tts-1-hd"
            ]
          },
          "input": {
            "type": "string",
            "title": "Input",
            "description": "The text to generate audio for. The maximum length is 4096 characters.",
            "examples": [
              "Hello, how are you today?"
            ]
          },
          "voice": {
            "type": "string",
            "enum": [
              "alloy",
              "ash",
              "ballad",
              "coral",
              "echo",
              "fable",
              "onyx",
              "nova",
              "sage",
              "shimmer",
              "verse"
            ],
            "title": "Voice",
            "description": "The voice to use when generating the audio. Supported voices are `alloy`, `ash`, `ballad`, `coral`, `echo`, `fable`, `onyx`, `nova`, `sage`, `shimmer`, and `verse`. Previews of the voices are available in the [Text to speech guide](https://platform.openai.com/docs/guides/text-to-speech#voice-options).",
            "examples": [
              "alloy",
              "nova"
            ]
          },
          "instructions": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Instructions",
            "description": "Control the voice of your generated audio with additional instructions. Does not work with `tts-1` or `tts-1-hd`."
          },
          "response_format": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "mp3",
                  "opus",
                  "aac",
                  "flac",
                  "wav",
                  "pcm"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Response Format",
            "description": "The format to audio in. Supported formats are `mp3`, `opus`, `aac`, `flac`, `wav`, and `pcm`.",
            "examples": [
              "mp3",
              "wav"
            ]
          },
          "speed": {
            "anyOf": [
              {
                "type": "number",
                "maximum": 4.0,
                "minimum": 0.25
              },
              {
                "type": "null"
              }
            ],
            "title": "Speed",
            "description": "The speed of the generated audio. Select a value from `0.25` to `4.0`. `1.0` is the default.",
            "examples": [
              1.0,
              1.5
            ]
          },
          "stream_format": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "sse",
                  "audio"
                ]
              },
              {
                "type": "null"
              }
            ],
            "title": "Stream Format",
            "description": "The format to stream the audio in. Supported formats are `sse` and `audio`. `sse` is not supported for `tts-1` or `tts-1-hd`.",
            "examples": [
              "sse",
              "audio"
            ]
          }
        },
        "type": "object",
        "required": [
          "model",
          "input",
          "voice"
        ],
        "title": "CreateSpeechRequest",
        "description": "Request to generate audio from text."
      },
      "CreateTranscriptionResponseJson": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text",
            "description": "The transcribed text.",
            "x-order": 0
          },
          "logprobs": {
            "items": {
              "$ref": "#/components/schemas/LogprobsItem"
            },
            "type": "array",
            "title": "Logprobs",
            "description": "The log probabilities of the tokens in the transcription. Only returned with the models `gpt-4o-transcribe` and `gpt-4o-mini-transcribe` if `logprobs` is added to the `include` array.",
            "x-order": 1
          },
          "usage": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/TranscriptTextUsageTokens"
              },
              {
                "$ref": "#/components/schemas/TranscriptTextUsageDuration"
              }
            ],
            "title": "Usage",
            "description": "Token usage statistics for the request.",
            "discriminator": {
              "propertyName": "type",
              "mapping": {
                "duration": "#/components/schemas/TranscriptTextUsageDuration",
                "tokens": "#/components/schemas/TranscriptTextUsageTokens"
              }
            },
            "x-order": 2
          }
        },
        "type": "object",
        "required": [
          "text"
        ],
        "title": "CreateTranscriptionResponseJson",
        "description": "Represents a transcription response returned by model, based on the provided input.\n\nFields:\n  - text (required): str\n  - logprobs (optional): list[LogprobsItem]\n  - usage (optional): Usage"
      },
      "CreateTranscriptionResponseVerboseJson": {
        "properties": {
          "language": {
            "type": "string",
            "title": "Language",
            "description": "The language of the input audio.",
            "x-order": 0
          },
          "duration": {
            "type": "number",
            "title": "Duration",
            "description": "The duration of the input audio.",
            "x-order": 1
          },
          "text": {
            "type": "string",
            "title": "Text",
            "description": "The transcribed text.",
            "x-order": 2
          },
          "words": {
            "items": {
              "$ref": "#/components/schemas/TranscriptionWord"
            },
            "type": "array",
            "title": "Words",
            "description": "Extracted words and their corresponding timestamps.",
            "x-order": 3
          },
          "segments": {
            "items": {
              "$ref": "#/components/schemas/TranscriptionSegment"
            },
            "type": "array",
            "title": "Segments",
            "description": "Segments of the transcribed text and their corresponding details.",
            "x-order": 4
          },
          "usage": {
            "$ref": "#/components/schemas/TranscriptTextUsageDuration",
            "description": "Usage statistics for models billed by audio input duration.",
            "x-order": 5
          }
        },
        "type": "object",
        "required": [
          "language",
          "duration",
          "text"
        ],
        "title": "CreateTranscriptionResponseVerboseJson",
        "description": "Represents a verbose json transcription response returned by model, based on the provided input.\n\nFields:\n  - language (required): str\n  - duration (required): float\n  - text (required): str\n  - words (optional): list[TranscriptionWord]\n  - segments (optional): list[TranscriptionSegment]\n  - usage (optional): TranscriptTextUsageDuration"
      },
      "CreateTranslationResponseJson": {
        "properties": {
          "text": {
            "type": "string",
            "title": "Text",
            "x-order": 0
          }
        },
        "type": "object",
        "required": [
          "text"
        ],
        "title": "CreateTranslationResponseJson",
        "description": "Fields:\n- text (required): str"
      },
      "CreateTranslationResponseVerboseJson": {
        "properties": {
          "language": {
            "type": "string",
            "title": "Language",
            "description": "The language of the output translation (always `english`).",
            "x-order": 0
          },
          "duration": {
            "type": "number",
            "title": "Duration",
            "description": "The duration of the input audio.",
            "x-order": 1
          },
          "text": {
            "type": "string",
            "title": "Text",
            "description": "The translated text.",
            "x-order": 2
          },
          "segments": {
            "items": {
              "$ref": "#/components/schemas/TranscriptionSegment"
            },
            "type": "array",
            "title": "Segments",
            "description": "Segments of the translated text and their corresponding details.",
            "x-order": 3
          }
        },
        "type": "object",
        "required": [
          "language",
          "duration",
          "text"
        ],
        "title": "CreateTranslationResponseVerboseJson",
        "description": "Fields:\n- language (required): str\n- duration (required): float\n- text (required): str\n- segments (optional): list[TranscriptionSegment]"
      },
      "Custom": {
        "properties": {
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the custom tool to call.",
            "x-order": 0
          },
          "input": {
            "type": "string",
            "title": "Input",
            "description": "The input for the custom tool call generated by the model.",
            "x-order": 1
          }
        },
        "type": "object",
        "required": [
          "name",
          "input"
        ],
        "title": "Custom",
        "description": "The custom tool that the model called.\n\nFields:\n  - name (required): str\n  - input (required): str"
      },
      "DedalusModel": {
        "properties": {
          "model": {
            "type": "string",
            "title": "Model",
            "description": "Model identifier with provider prefix (e.g., 'openai/gpt-5', 'anthropic/claude-3-5-sonnet')."
          },
          "settings": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/ModelSettings"
              },
              {
                "type": "null"
              }
            ],
            "description": "Optional default generation settings (e.g., temperature, max_tokens) applied when this model is selected."
          }
        },
        "additionalProperties": false,
        "type": "object",
        "required": [
          "model"
        ],
        "title": "DedalusModel",
        "description": "Structured model selection entry used in request payloads.\n\nSupports OpenAI-style semantics (string model id) while enabling\noptional per-model default settings for Dedalus multi-model routing."
      },
      "DedalusModelChoice": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/ModelId"
          },
          {
            "$ref": "#/components/schemas/DedalusModel"
          }
        ],
        "title": "DedalusModelChoice",
        "description": "Dedalus model choice - either a string ID or DedalusModel configuration object."
      },
      "Embedding": {
        "properties": {
          "object": {
            "type": "string",
            "const": "embedding",
            "title": "Object",
            "description": "Object type, always 'embedding'",
            "default": "embedding"
          },
          "embedding": {
            "anyOf": [
              {
                "items": {
                  "type": "number"
                },
                "type": "array"
              },
              {
                "type": "string"
              }
            ],
[...]
