{
  "openapi": "3.1.0",
  "info": {
    "title": "Dedalus API",
    "description": "MCP gateway for AI agents. Mix-and-match any model with any tool from our marketplace.\n\n## Authentication\nUse Bearer token or X-API-Key header authentication:\n```\nAuthorization: Bearer your-api-key-here\n```\n```\nx-api-key: your-api-key-here\n```\n\n## Available Endpoints\n- **GET /v1/models**: list available models\n- **POST /v1/chat/completions**: Chat completions with MCP tools\n- **GET /health**: Service health check",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.dedaluslabs.ai",
      "description": "Official Dedalus API"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["health"],
        "summary": "Health Check",
        "description": "Simple health check.",
        "operationId": "health_check_health_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        },
        "x-hidden": true
      }
    },
    "/v1/models": {
      "get": {
        "tags": ["v1", "v1"],
        "summary": "List Models",
        "description": "List available models.\n\nRetrieve the complete list of models available to your organization, including\nmodels from OpenAI, Anthropic, Google, xAI, Mistral, Fireworks, and DeepSeek.\n\nReturns:\n    ListModelsResponse: List of available models across all supported providers",
        "operationId": "list_models_v1_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ListModelsResponse" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/models/{model_id}": {
      "get": {
        "tags": ["v1", "v1"],
        "summary": "Retrieve Model",
        "description": "Retrieve a model.\n\nRetrieve detailed information about a specific model, including its capabilities,\nprovider, and supported features.\n\nArgs:\n    model_id: The ID of the model to retrieve (e.g., 'openai/gpt-4', 'anthropic/claude-3-5-sonnet-20241022')\n    user: Authenticated user obtained from API key validation\n\nReturns:\n    Model: Information about the requested model\n\nRaises:\n    HTTPException:\n        - 401 if authentication fails\n        - 404 if model not found or not accessible with current API key\n        - 500 if internal error occurs\n\nRequires:\n    Valid API key with 'read' scope permission\n\nExample:\n    ```python\n    import dedalus_labs\n\n    client = dedalus_labs.Client(api_key=\"your-api-key\")\n    model = client.models.retrieve(\"openai/gpt-4\")\n\n    print(f\"Model: {model.id}\")\n    print(f\"Owner: {model.owned_by}\")\n    ```\n\n    Response:\n    ```json\n    {\n        \"id\": \"openai/gpt-4\",\n        \"object\": \"model\",\n        \"created\": 1687882411,\n        \"owned_by\": \"openai\"\n    }\n    ```",
        "operationId": "retrieve_model_v1_models__model_id__get",
        "security": [{ "Bearer": [] }],
        "parameters": [
          {
            "name": "model_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "title": "Model Id" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Model" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        }
      }
    },
    "/v1/chat/completions": {
      "post": {
        "tags": ["v1", "chat"],
        "summary": "Create Chat Completion",
        "description": "Create a chat completion.\n\nGenerates a model response for the given conversation and configuration.\nSupports OpenAI-compatible parameters and provider-specific extensions.\n\nHeaders:\n  - Authorization: bearer key for the calling account.\n  - X-Provider / X-Provider-Key: optional headers for using your own provider API key.\n\nBehavior:\n  - If multiple models are supplied, the first one is used, and the agent may hand off to another model.\n  - Tools may be invoked on the server or signaled for the client to run.\n  - Streaming responses emit incremental deltas; non-streaming returns a single object.\n  - Usage metrics are computed when available and returned in the response.\n\nResponses:\n  - 200 OK: JSON completion object with choices, message content, and usage.\n  - 400 Bad Request: validation error.\n  - 401 Unauthorized: authentication failed.\n  - 402 Payment Required or 429 Too Many Requests: quota, balance, or rate limit issue.\n  - 500 Internal Server Error: unexpected failure.\n\nBilling:\n  - Token usage metered by the selected model(s).\n  - Tool calls and MCP sessions may be billed separately.\n  - Streaming is settled after the stream ends via an async task.\n\nExample (non-streaming HTTP):\n  POST /v1/chat/completions\n  Content-Type: application/json\n  Authorization: Bearer <key>\n\n  {\n    \"model\": \"provider/model-name\",\n    \"messages\": [{\"role\": \"user\", \"content\": \"Hello\"}]\n  }\n\n  200 OK\n  {\n    \"id\": \"cmpl_123\",\n    \"object\": \"chat.completion\",\n    \"choices\": [\n      {\"index\": 0, \"message\": {\"role\": \"assistant\", \"content\": \"Hi there!\"}, \"finish_reason\": \"stop\"}\n    ],\n    \"usage\": {\"prompt_tokens\": 3, \"completion_tokens\": 4, \"total_tokens\": 7}\n  }\n\nExample (streaming over SSE):\n  POST /v1/chat/completions\n  Accept: text/event-stream\n\n  data: {\"id\":\"cmpl_123\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\"Hi\"}}]}\n  data: {\"id\":\"cmpl_123\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\" there!\"}}]}\n  data: [DONE]",
        "operationId": "create_chat_completion_v1_chat_completions_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ChatCompletionRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "JSON or SSE stream of ChatCompletionChunk events",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ChatCompletion" }
              },
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletionStreamResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/embeddings": {
      "post": {
        "tags": ["v1", "v1"],
        "summary": "Create Embeddings",
        "description": "Create embeddings using the configured provider.",
        "operationId": "create_embeddings_v1_embeddings_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/EmbeddingRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EmbeddingResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/responses": {
      "post": {
        "tags": ["v1", "v1"],
        "summary": "Create Response",
        "description": "Create a response using the OpenAI Responses API.\n\nThis endpoint routes directly to OpenAI's Responses API.\nOnly OpenAI models are supported.",
        "operationId": "create_response_v1_responses_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResponsesRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ResponsesResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/audio/speech": {
      "post": {
        "tags": ["v1", "audio"],
        "summary": "Create Speech",
        "description": "Generate speech audio from text.\n\nGenerates audio from the input text using text-to-speech models. Supports multiple\nvoices and output formats including mp3, opus, aac, flac, wav, and pcm.\n\nReturns streaming audio data that can be saved to a file or streamed directly to users.",
        "operationId": "create_speech_v1_audio_speech_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SpeechRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Audio file stream",
            "content": {
              "audio/mpeg": {
                "schema": { "type": "string", "format": "binary" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/audio/transcriptions": {
      "post": {
        "tags": ["v1", "audio"],
        "summary": "Create Transcription",
        "description": "Transcribe audio into text.\n\nTranscribes audio files using OpenAI's Whisper model. Supports multiple audio formats\nincluding mp3, mp4, mpeg, mpga, m4a, wav, and webm. Maximum file size is 25 MB.\n\nArgs:\n    file: Audio file to transcribe (required)\n    model: Model ID to use (e.g., \"openai/whisper-1\")\n    language: ISO-639-1 language code (e.g., \"en\", \"es\") - improves accuracy\n    prompt: Optional text to guide the model's style\n    response_format: Format of the output (json, text, srt, verbose_json, vtt)\n    temperature: Sampling temperature between 0 and 1\n\nReturns:\n    Transcription object with the transcribed text",
        "operationId": "create_transcription_v1_audio_transcriptions_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_transcription_v1_audio_transcriptions_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CreateTranscriptionResponseVerboseJson"
                    },
                    {
                      "$ref": "#/components/schemas/CreateTranscriptionResponseJson"
                    }
                  ],
                  "title": "Response Create Transcription V1 Audio Transcriptions Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/audio/translations": {
      "post": {
        "tags": ["v1", "audio"],
        "summary": "Create Translation",
        "description": "Translate audio into English.\n\nTranslates audio files in any supported language to English text using OpenAI's\nWhisper model. Supports the same audio formats as transcription. Maximum file size\nis 25 MB.\n\nArgs:\n    file: Audio file to translate (required)\n    model: Model ID to use (e.g., \"openai/whisper-1\")\n    prompt: Optional text to guide the model's style\n    response_format: Format of the output (json, text, srt, verbose_json, vtt)\n    temperature: Sampling temperature between 0 and 1\n\nReturns:\n    Translation object with the English translation",
        "operationId": "create_translation_v1_audio_translations_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_translation_v1_audio_translations_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/CreateTranslationResponseVerboseJson"
                    },
                    {
                      "$ref": "#/components/schemas/CreateTranslationResponseJson"
                    }
                  ],
                  "title": "Response Create Translation V1 Audio Translations Post"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/images/generations": {
      "post": {
        "tags": ["v1", "images"],
        "summary": "Create Image",
        "description": "Generate images from text prompts.\n\nPure image generation models only (DALL-E, GPT Image).\nFor multimodal models like gemini-2.5-flash-image, use /v1/chat/completions.",
        "operationId": "create_image_v1_images_generations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ImageGenerateRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImagesResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/images/edits": {
      "post": {
        "tags": ["v1", "images"],
        "summary": "Edit Image",
        "description": "Edit images using inpainting.\n\nSupports dall-e-2 and gpt-image-1. Upload an image and optionally a mask\nto indicate which areas to regenerate based on the prompt.",
        "operationId": "edit_image_v1_images_edits_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_edit_image_v1_images_edits_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImagesResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/images/variations": {
      "post": {
        "tags": ["v1", "images"],
        "summary": "Create Variation",
        "description": "Create variations of an image.\n\nDALL·E 2 only. Upload an image to generate variations.",
        "operationId": "create_variation_v1_images_variations_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/Body_create_variation_v1_images_variations_post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ImagesResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/v1/ocr": {
      "post": {
        "tags": ["v1", "ocr"],
        "summary": "Process Ocr",
        "description": "Process a document through Mistral OCR.\n\nExtracts text from PDFs and images, returning markdown-formatted content.",
        "operationId": "process_ocr_v1_ocr_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/OCRRequest" }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OCRResponse" }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HTTPValidationError" }
              }
            }
          }
        },
        "security": [{ "Bearer": [] }]
      }
    },
    "/": {
      "get": {
        "summary": "Root",
        "operationId": "root__get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/RootResponse" }
              }
            }
          }
        }
      }
    },
    "/favicon.ico": {
      "get": {
        "tags": ["private"],
        "summary": "Favicon",
        "description": "Browser favicon endpoint. Automatically excluded from SDK generation.",
        "operationId": "favicon_favicon_ico_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": { "application/json": { "schema": {} } }
          },
          "204": { "description": "No Content" }
        },
        "deprecated": true
      }
    }
  },
  "components": {
    "schemas": {
      "Audio": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "Unique identifier for a previous audio response from the model.",
            "x-order": 0
          }
        },
        "type": "object",
        "required": ["id"],
        "title": "Audio",
        "description": "Data about a previous audio response from the model.\n[Learn more](/docs/guides/audio).\n\nFields:\n- id (required): str",
        "x-ddls-inline": true
      },
      "Body_create_transcription_v1_audio_transcriptions_post": {
        "properties": {
          "file": { "type": "string", "format": "binary", "title": "File" },
          "model": { "type": "string", "title": "Model" },
          "language": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Language"
          },
          "prompt": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Prompt"
          },
          "response_format": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Response Format"
          },
          "temperature": {
            "anyOf": [{ "type": "number" }, { "type": "null" }],
            "title": "Temperature"
          }
        },
        "type": "object",
        "required": ["file", "model"],
        "title": "Body_create_transcription_v1_audio_transcriptions_post"
      },
      "Body_create_translation_v1_audio_translations_post": {
        "properties": {
          "file": { "type": "string", "format": "binary", "title": "File" },
          "model": { "type": "string", "title": "Model" },
          "prompt": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Prompt"
          },
          "response_format": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Response Format"
          },
          "temperature": {
            "anyOf": [{ "type": "number" }, { "type": "null" }],
            "title": "Temperature"
          }
        },
        "type": "object",
        "required": ["file", "model"],
        "title": "Body_create_translation_v1_audio_translations_post"
      },
      "Body_create_variation_v1_images_variations_post": {
        "properties": {
          "image": { "type": "string", "format": "binary", "title": "Image" },
          "model": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Model",
            "default": "openai/dall-e-2"
          },
          "n": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }],
            "title": "N",
            "default": 1
          },
          "size": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Size",
            "default": "1024x1024"
          },
          "response_format": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Response Format",
            "default": "url"
          },
          "user": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "User"
          }
        },
        "type": "object",
        "required": ["image"],
        "title": "Body_create_variation_v1_images_variations_post"
      },
      "Body_edit_image_v1_images_edits_post": {
        "properties": {
          "image": { "type": "string", "format": "binary", "title": "Image" },
          "prompt": { "type": "string", "title": "Prompt" },
          "mask": {
            "anyOf": [
              { "type": "string", "format": "binary" },
              { "type": "null" }
            ],
            "title": "Mask"
          },
          "model": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Model",
            "default": "openai/dall-e-2"
          },
          "n": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }],
            "title": "N",
            "default": 1
          },
          "size": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Size",
            "default": "1024x1024"
          },
          "response_format": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Response Format",
            "default": "url"
          },
          "user": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "User"
          }
        },
        "type": "object",
        "required": ["image", "prompt"],
        "title": "Body_edit_image_v1_images_edits_post"
      },
      "ChatCompletion": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "A unique identifier for the chat completion.",
            "x-order": 0
          },
          "choices": {
            "items": { "$ref": "#/components/schemas/Choice" },
            "type": "array",
            "title": "Choices",
            "description": "A list of chat completion choices. Can be more than one if `n` is greater than 1.",
            "x-order": 1
          },
          "created": {
            "type": "integer",
            "title": "Created",
            "description": "The Unix timestamp (in seconds) of when the chat completion was created.",
            "x-order": 2
          },
          "model": {
            "type": "string",
            "title": "Model",
            "description": "The model used for the chat completion.",
            "x-order": 3
          },
          "service_tier": {
            "anyOf": [
              {
                "type": "string",
                "enum": ["auto", "default", "flex", "scale", "priority"]
              },
              { "type": "null" }
            ],
            "title": "Service Tier",
            "description": "Specifies the processing type used for serving the request.\n  - If set to 'auto', then the request will be processed with the service tier configured in the Project settings. Unless otherwise configured, the Project will use 'default'.\n  - If set to 'default', then the request will be processed with the standard pricing and performance for the selected model.\n  - If set to '[flex](/docs/guides/flex-processing)' or '[priority](https://openai.com/api-priority-processing/)', then the request will be processed with the corresponding service tier.\n  - When not set, the default behavior is 'auto'.\n\n  When the `service_tier` parameter is set, the response body will include the `service_tier` value based on the processing mode actually used to serve the request. This response value may be different from the value set in the parameter.",
            "x-order": 4
          },
          "system_fingerprint": {
            "type": "string",
            "title": "System Fingerprint",
            "description": "This fingerprint represents the backend configuration that the model runs with.\n\nCan be used in conjunction with the `seed` request parameter to understand when backend changes have been made that might impact determinism.",
            "x-order": 5
          },
          "object": {
            "type": "string",
            "const": "chat.completion",
            "title": "Object",
            "description": "The object type, which is always `chat.completion`.",
            "x-order": 6
          },
          "usage": {
            "$ref": "#/components/schemas/CompletionUsage",
            "description": "Usage statistics for the completion request.",
            "x-order": 7
          },
          "tools_executed": {
            "anyOf": [
              { "items": { "type": "string" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Tools Executed",
            "description": "List of tool names that were executed server-side (e.g., MCP tools). Only present when tools were executed on the server rather than returned for client-side execution."
          },
          "mcp_server_errors": {
            "anyOf": [
              {
                "additionalProperties": {
                  "$ref": "#/components/schemas/MCPServerError"
                },
                "type": "object"
              },
              { "type": "null" }
            ],
            "title": "Mcp Server Errors",
            "description": "MCP server failures keyed by server name."
          },
          "mcp_tool_results": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/MCPToolResult" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Mcp Tool Results",
            "description": "Detailed results of MCP tool executions including inputs, outputs, and timing. Provides full visibility into server-side tool execution for debugging and audit purposes."
          },
          "correlation_id": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Correlation Id",
            "description": "Stable session ID for cross-turn handoff state. Echo this on the next request to resume server-side execution."
          },
          "server_results": {
            "anyOf": [
              {
                "additionalProperties": {
                  "$ref": "#/components/schemas/JSONValue"
                },
                "type": "object"
              },
              { "type": "null" }
            ],
            "title": "Server Results",
            "description": "Completed server tool outputs keyed by call ID."
          },
          "deferred": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/DeferredCallResponse"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Deferred",
            "description": "Server tools blocked on client results."
          },
          "pending_tools": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/PendingCallResponse" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Pending Tools",
            "description": "Client tools to execute, with dependency ordering."
          },
          "turns_consumed": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }],
            "title": "Turns Consumed",
            "description": "Number of internal LLM calls made during this request. SDKs can sum this across their outer loop to track total LLM calls."
          }
        },
        "type": "object",
        "required": ["id", "choices", "created", "model", "object"],
        "title": "ChatCompletion",
        "description": "Chat completion response for Dedalus API.\n\nOpenAI-compatible chat completion response with Dedalus extensions.\nMaintains full compatibility with OpenAI API while providing additional\nfeatures like server-side tool execution tracking and MCP error reporting.",
        "example": {
          "choices": [
            {
              "finish_reason": "stop",
              "index": 0,
              "message": {
                "content": "The next Warriors game is tomorrow at 7:30 PM.",
                "role": "assistant"
              }
            }
          ],
          "created": 1677652288,
          "id": "chatcmpl-123",
          "model": "gpt-4o-mini",
          "object": "chat.completion",
          "tools_executed": ["search_events", "get_event_details"],
          "usage": {
            "completion_tokens": 12,
            "prompt_tokens": 9,
            "total_tokens": 21
          }
        }
      },
      "ChatCompletionFunctions": {
        "properties": {
          "description": {
            "type": "string",
            "title": "Description",
            "description": "A description of what the function does, used by the model to choose when and how to call the function.",
            "x-order": 0
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the function to be called. Must be a-z, A-Z, 0-9, or contain underscores and dashes, with a maximum length of 64.",
            "x-order": 1
          },
          "parameters": {
            "$ref": "#/components/schemas/FunctionParameters",
            "description": "The parameters the functions accepts, described as a JSON Schema object. See the [guide](/docs/guides/function-calling) for examples, and the [JSON Schema reference](https://json-schema.org/understanding-json-schema/) for documentation about the format. \n\nOmitting `parameters` defines a function with an empty parameter list.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": ["name"],
        "title": "ChatCompletionFunctions",
        "description": "Schema for ChatCompletionFunctions.\n\nFields:\n- description (optional): str\n- name (required): str\n- parameters (optional): FunctionParameters"
      },
      "ChatCompletionMessageCustomToolCall": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The ID of the tool call.",
            "x-order": 0
          },
          "type": {
            "type": "string",
            "const": "custom",
            "title": "Type",
            "description": "The type of the tool. Always `custom`.",
            "x-order": 1
          },
          "custom": {
            "properties": {
              "name": {
                "type": "string",
                "title": "Name",
                "description": "The name of the custom tool to call.",
                "x-order": 0
              },
              "input": {
                "type": "string",
                "title": "Input",
                "description": "The input for the custom tool call generated by the model.",
                "x-order": 1
              }
            },
            "type": "object",
            "required": ["name", "input"],
            "description": "The custom tool that the model called.\n\nFields:\n- name (required): str\n- input (required): str"
          }
        },
        "type": "object",
        "required": ["id", "type", "custom"],
        "title": "ChatCompletionMessageCustomToolCall",
        "description": "A call to a custom tool created by the model.\n\nFields:\n- id (required): str\n- type (required): Literal[\"custom\"]\n- custom (required): ChatCompletionMessageCustomToolCallCustom"
      },
      "ChatCompletionMessageToolCall": {
        "properties": {
          "id": {
            "type": "string",
            "title": "Id",
            "description": "The ID of the tool call.",
            "x-order": 0
          },
          "type": {
            "type": "string",
            "const": "function",
            "title": "Type",
            "description": "The type of the tool. Currently, only `function` is supported.",
            "x-order": 1
          },
          "function": {
            "properties": {
              "name": {
                "type": "string",
                "title": "Name",
                "description": "The name of the function to call.",
                "x-order": 0
              },
              "arguments": {
                "type": "string",
                "title": "Arguments",
                "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.",
                "x-order": 1
              }
            },
            "type": "object",
            "required": ["name", "arguments"],
            "description": "The function that the model called.\n\nFields:\n- name (required): str\n- arguments (required): str"
          },
          "thought_signature": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Thought Signature",
            "description": "Opaque signature for thought continuity in multi-turn tool use (Google-specific, base64 encoded)"
          }
        },
        "type": "object",
        "required": ["id", "type", "function"],
        "title": "ChatCompletionMessageToolCall",
        "description": "A call to a function tool created by the model.\n\nFields:\n- id (required): str\n- type (required): Literal[\"function\"]\n- function (required): ChatCompletionMessageToolCallFunction\n- thought_signature (optional): str"
      },
      "ChatCompletionRequest": {
        "properties": {
          "audio": {
            "anyOf": [
              { "$ref": "#/components/schemas/ChatCompletionRequestAudio" },
              { "type": "null" }
            ],
            "description": "Parameters for audio output. Required when requesting audio responses with `modalities: ['audio']`. See: https://platform.openai.com/docs/guides/audio",
            "examples": [{ "format": "mp3", "voice": "alloy" }]
          },
          "frequency_penalty": {
            "anyOf": [
              { "type": "number", "maximum": 2, "minimum": -2 },
              { "type": "null" }
            ],
            "title": "Frequency Penalty",
            "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on their existing frequency in the text so far, decreasing the model's likelihood to repeat the same line verbatim. ",
            "default": 0
          },
          "function_call": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Function Call",
            "description": "Deprecated in favor of `tool_choice`.  Controls which (if any) function is called by the model.  `none` means the model will not call a function and instead generates a message.  `auto` means the model can pick between generating a message or calling a function.  Specifying a particular function via `{\"name\": \"my_function\"}` forces the model to call that function.  `none` is the default when no functions are present. `auto` is the default if functions are present. "
          },
          "functions": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionFunctions"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Functions",
            "description": "Deprecated in favor of `tools`.  A list of functions the model may generate JSON inputs for. "
          },
          "logit_bias": {
            "anyOf": [
              {
                "additionalProperties": { "type": "integer" },
                "type": "object"
              },
              { "type": "null" }
            ],
            "title": "Logit Bias",
            "description": "Modify the likelihood of specified tokens appearing in the completion.  Accepts a JSON object that maps tokens (specified by their token ID in the tokenizer) to an associated bias value from -100 to 100. Mathematically, the bias is added to the logits generated by the model prior to sampling. The exact effect will vary per model, but values between -1 and 1 should decrease or increase likelihood of selection; values like -100 or 100 should result in a ban or exclusive selection of the relevant token. "
          },
          "logprobs": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Logprobs",
            "description": "Whether to return log probabilities of the output tokens or not. If true, returns the log probabilities of each output token returned in the `content` of `message`. ",
            "default": false
          },
          "max_completion_tokens": {
            "anyOf": [{ "type": "integer" }, { "type": "null" }],
            "title": "Max Completion Tokens",
            "description": "Maximum tokens in completion (newer parameter name)"
          },
          "max_tokens": {
            "anyOf": [{ "type": "integer", "minimum": 1 }, { "type": "null" }],
            "title": "Max Tokens",
            "description": "Maximum tokens in completion"
          },
          "messages": {
            "anyOf": [
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestDeveloperMessage"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestSystemMessage"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestUserMessage"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestAssistantMessage"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestToolMessage"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestFunctionMessage"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "role",
                    "mapping": {
                      "assistant": "#/components/schemas/ChatCompletionRequestAssistantMessage",
                      "developer": "#/components/schemas/ChatCompletionRequestDeveloperMessage",
                      "function": "#/components/schemas/ChatCompletionRequestFunctionMessage",
                      "system": "#/components/schemas/ChatCompletionRequestSystemMessage",
                      "tool": "#/components/schemas/ChatCompletionRequestToolMessage",
                      "user": "#/components/schemas/ChatCompletionRequestUserMessage"
                    }
                  }
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Messages",
            "description": "Conversation history (OpenAI: messages, Google: contents, Responses: input)"
          },
          "metadata": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "null" }
            ],
            "description": "Set of 16 key-value pairs that can be attached to an object. This can be useful for storing additional information about the object in a structured format, and querying for objects via API or the dashboard.  Keys are strings with a maximum length of 64 characters. Values are strings with a maximum length of 512 characters. "
          },
          "modalities": {
            "anyOf": [
              { "items": { "type": "string" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Modalities",
            "description": "Output types that you would like the model to generate. Most models are capable of generating text, which is the default:  `[\"text\"]`  The `gpt-4o-audio-preview` model can also be used to [generate audio](/docs/guides/audio). To request that this model generate both text and audio responses, you can use:  `[\"text\", \"audio\"]` "
          },
          "model": {
            "anyOf": [
              { "$ref": "#/components/schemas/DedalusModelChoice" },
              {
                "items": { "$ref": "#/components/schemas/DedalusModelChoice" },
                "type": "array"
              }
            ],
            "title": "Model",
            "description": "Model identifier. Accepts model ID strings, lists for routing, or DedalusModel objects with per-model settings.",
            "examples": [
              "openai/gpt-5",
              ["openai/gpt-5", "anthropic/claude-3-sonnet"]
            ]
          },
          "n": {
            "anyOf": [
              { "type": "integer", "maximum": 128, "minimum": 1 },
              { "type": "null" }
            ],
            "title": "N",
            "description": "How many chat completion choices to generate for each input message. Note that you will be charged based on the number of generated tokens across all of the choices. Keep `n` as `1` to minimize costs.",
            "default": 1
          },
          "parallel_tool_calls": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Parallel Tool Calls",
            "description": "Whether to enable parallel tool calls (Anthropic uses inverted polarity).",
            "default": true
          },
          "prediction": {
            "anyOf": [
              { "$ref": "#/components/schemas/PredictionContent" },
              { "type": "null" }
            ],
            "description": "Configuration for a [Predicted Output](/docs/guides/predicted-outputs), which can greatly improve response times when large parts of the model response are known ahead of time. This is most common when you are regenerating a file with only minor changes to most of the content. "
          },
          "presence_penalty": {
            "anyOf": [
              { "type": "number", "maximum": 2, "minimum": -2 },
              { "type": "null" }
            ],
            "title": "Presence Penalty",
            "description": "Number between -2.0 and 2.0. Positive values penalize new tokens based on whether they appear in the text so far, increasing the model's likelihood to talk about new topics. ",
            "default": 0
          },
          "prompt_cache_key": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Prompt Cache Key",
            "description": "Used by OpenAI to cache responses for similar requests to optimize your cache hit rates. Replaces the `user` field. [Learn more](/docs/guides/prompt-caching). "
          },
          "prompt_cache_retention": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Prompt Cache Retention",
            "description": "The retention policy for the prompt cache. Set to `24h` to enable extended prompt caching, which keeps cached prefixes active for longer, up to a maximum of 24 hours. [Learn more](/docs/guides/prompt-caching#prompt-cache-retention). "
          },
          "reasoning_effort": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Reasoning Effort",
            "description": "Constrains effort on reasoning for [reasoning models](https://platform.openai.com/docs/guides/reasoning). Currently supported values are `none`, `minimal`, `low`, `medium`, `high`, and `xhigh`. Reducing reasoning effort can result in faster responses and fewer tokens used on reasoning in a response.  - `gpt-5.1` defaults to `none`, which does not perform reasoning. The supported reasoning values for `gpt-5.1` are `none`, `low`, `medium`, and `high`. Tool calls are supported for all reasoning values in gpt-5.1. - All models before `gpt-5.1` default to `medium` reasoning effort, and do not support `none`. - The `gpt-5-pro` model defaults to (and only supports) `high` reasoning effort. - `xhigh` is supported for all models after `gpt-5.1-codex-max`. ",
            "default": "medium"
          },
          "response_format": {
            "anyOf": [
              {
                "oneOf": [
                  { "$ref": "#/components/schemas/ResponseFormatText" },
                  { "$ref": "#/components/schemas/ResponseFormatJsonSchema" },
                  { "$ref": "#/components/schemas/ResponseFormatJsonObject" }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "json_object": "#/components/schemas/ResponseFormatJsonObject",
                    "json_schema": "#/components/schemas/ResponseFormatJsonSchema",
                    "text": "#/components/schemas/ResponseFormatText"
                  }
                }
              },
              { "type": "null" }
            ],
            "title": "Response Format",
            "description": "An object specifying the format that the model must output.  Setting to `{ \"type\": \"json_schema\", \"json_schema\": {...} }` enables Structured Outputs which ensures the model will match your supplied JSON schema. Learn more in the [Structured Outputs guide](/docs/guides/structured-outputs).  Setting to `{ \"type\": \"json_object\" }` enables the older JSON mode, which ensures the message the model generates is valid JSON. Using `json_schema` is preferred for models that support it. "
          },
          "safety_identifier": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Safety Identifier",
            "description": "A stable identifier used to help detect users of your application that may be violating OpenAI's usage policies. The IDs should be a string that uniquely identifies each user. We recommend hashing their username or email address, in order to avoid sending us any identifying information. [Learn more](/docs/guides/safety-best-practices#safety-identifiers). "
          },
          "seed": {
            "anyOf": [
              {
                "type": "integer",
                "maximum": 9223372036854776000,
                "minimum": 0
              },
              { "type": "null" }
            ],
            "title": "Seed",
            "description": "Random seed for deterministic output"
          },
          "service_tier": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Service Tier",
            "description": "Service tier for request processing",
            "default": "auto"
          },
          "stop": {
            "anyOf": [
              { "items": { "type": "string" }, "type": "array" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "Stop",
            "description": "Sequences that stop generation"
          },
          "store": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Store",
            "description": "Whether or not to store the output of this chat completion request for use in our [model distillation](/docs/guides/distillation) or [evals](/docs/guides/evals) products.  Supports text and image inputs. Note: image inputs over 8MB will be dropped. ",
            "default": false
          },
          "stream": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Stream",
            "description": "Enable streaming response",
            "default": false
          },
          "stream_options": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "null" }
            ],
            "description": "Options for streaming response. Only set this when you set `stream: true`. "
          },
          "system_instruction": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "string" },
              { "type": "null" }
            ],
            "title": "System Instruction",
            "description": "System instruction/prompt"
          },
          "temperature": {
            "anyOf": [
              { "type": "number", "maximum": 1, "minimum": 0 },
              { "type": "null" }
            ],
            "title": "Temperature",
            "description": "Sampling temperature (0-2 for most providers)",
            "default": 1
          },
          "tool_choice": {
            "anyOf": [
              { "type": "string" },
              {
                "oneOf": [
                  { "$ref": "#/components/schemas/ToolChoiceAuto" },
                  { "$ref": "#/components/schemas/ToolChoiceAny" },
                  { "$ref": "#/components/schemas/ToolChoiceTool" },
                  { "$ref": "#/components/schemas/ToolChoiceNone" }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "any": "#/components/schemas/ToolChoiceAny",
                    "auto": "#/components/schemas/ToolChoiceAuto",
                    "none": "#/components/schemas/ToolChoiceNone",
                    "tool": "#/components/schemas/ToolChoiceTool"
                  }
                }
              },
              { "type": "null" }
            ],
            "title": "Tool Choice",
            "description": "Controls which (if any) tool is called by the model. `none` means the model will not call any tool and instead generates a message. `auto` means the model can pick between generating a message or calling one or more tools. `required` means the model must call one or more tools. Specifying a particular tool via `{\"type\": \"function\", \"function\": {\"name\": \"my_function\"}}` forces the model to call that tool.  `none` is the default when no tools are present. `auto` is the default if tools are present. ",
            "default": "auto"
          },
          "tools": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/Tool" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Tools",
            "description": "Available tools/functions for the model"
          },
          "top_k": {
            "anyOf": [{ "type": "integer", "minimum": 0 }, { "type": "null" }],
            "title": "Top K",
            "description": "Top-k sampling parameter"
          },
          "top_logprobs": {
            "anyOf": [
              { "type": "integer", "maximum": 8, "minimum": 0 },
              { "type": "null" }
            ],
            "title": "Top Logprobs",
            "description": "An integer between 0 and 20 specifying the number of most likely tokens to return at each token position, each with an associated log probability. `logprobs` must be set to `true` if this parameter is used. "
          },
          "top_p": {
            "anyOf": [
              { "type": "number", "maximum": 1, "minimum": 0 },
              { "type": "null" }
            ],
            "title": "Top P",
            "description": "Nucleus sampling threshold",
            "default": 1
          },
          "user": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "User",
            "description": "This field is being replaced by `safety_identifier` and `prompt_cache_key`. Use `prompt_cache_key` instead to maintain caching optimizations. A stable identifier for your end-users. Used to boost cache hit rates by better bucketing similar requests and  to help OpenAI detect and prevent abuse. [Learn more](/docs/guides/safety-best-practices#safety-identifiers). "
          },
          "verbosity": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Verbosity",
            "description": "Constrains the verbosity of the model's response. Lower values will result in more concise responses, while higher values will result in more verbose responses. Currently supported values are `low`, `medium`, and `high`. ",
            "default": "medium"
          },
          "web_search_options": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "null" }
            ],
            "description": "This tool searches the web for relevant results to use in a response. Learn more about the [web search tool](/docs/guides/tools-web-search?api-mode=chat). "
          },
          "cached_content": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Cached Content",
            "description": "Optional. The name of the content [cached](https://ai.google.dev/gemini-api/docs/caching) to use as context to serve the prediction. Format: `cachedContents/{cachedContent}`"
          },
          "deferred": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Deferred",
            "description": "If set to `true`, the request returns a `request_id`. You can then get the deferred response by GET `/v1/chat/deferred-completion/{request_id}`.",
            "default": false
          },
          "generation_config": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "null" }
            ],
            "description": "Generation parameters wrapper (Google-specific)"
          },
          "inference_geo": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Inference Geo",
            "description": "Specifies the geographic region for inference processing. If not specified, the workspace's `default_inference_geo` is used."
          },
          "output_config": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "null" }
            ]
          },
          "prompt_mode": {
            "anyOf": [
              { "type": "string", "const": "reasoning" },
              { "type": "null" }
            ],
            "title": "Prompt Mode",
            "description": "Allows toggling between the reasoning mode and no system prompt. When set to `reasoning` the system prompt for reasoning models will be used."
          },
          "safe_prompt": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Safe Prompt",
            "description": "Whether to inject a safety prompt before all conversations.",
            "default": false
          },
          "safety_settings": {
            "anyOf": [
              {
                "items": { "$ref": "#/components/schemas/SafetySetting" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Safety Settings",
            "description": "Safety/content filtering settings (Google-specific)"
          },
          "search_parameters": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "null" }
            ],
            "description": "Set the parameters to be used for searched data. If not set, no data will be acquired by the model."
          },
          "speed": {
            "anyOf": [
              { "type": "string", "enum": ["standard", "fast"] },
              { "type": "null" }
            ],
            "title": "Speed",
            "description": "The inference speed mode for this request. `\"fast\"` enables high output-tokens-per-second inference."
          },
          "thinking": {
            "anyOf": [
              {
                "oneOf": [
                  { "$ref": "#/components/schemas/ThinkingConfigEnabled" },
                  { "$ref": "#/components/schemas/ThinkingConfigDisabled" },
                  { "$ref": "#/components/schemas/ThinkingConfigAdaptive" }
                ],
                "discriminator": {
                  "propertyName": "type",
                  "mapping": {
                    "adaptive": "#/components/schemas/ThinkingConfigAdaptive",
                    "disabled": "#/components/schemas/ThinkingConfigDisabled",
                    "enabled": "#/components/schemas/ThinkingConfigEnabled"
                  }
                }
              },
              { "type": "null" }
            ],
            "title": "Thinking",
            "description": "Extended thinking configuration (Anthropic-specific)"
          },
          "tool_config": {
            "anyOf": [
              { "$ref": "#/components/schemas/JSONObject" },
              { "type": "null" }
            ],
            "description": "Tool calling configuration (Google-specific)"
          },
          "mcp_servers": {
            "anyOf": [
              { "type": "string" },
              { "$ref": "#/components/schemas/MCPServerSpec" },
              { "$ref": "#/components/schemas/MCPServers" },
              { "type": "null" }
            ],
            "title": "Mcp Servers",
            "description": "MCP server identifiers. Accepts marketplace slugs, URLs, or MCPServerSpec objects. MCP tools are executed server-side and billed separately.",
            "examples": [
              "dedalus-labs/example-server",
              [
                "dedalus-labs/example-server-1",
                "dedalus-labs/example-server-2"
              ],
              { "slug": "dedalus-labs/example-server-1", "version": "v1.0.0" },
              {
                "url": "https://mcp.dedaluslabs.ai/dedalus-labs/example-server-1"
              },
              {
                "url": "https://mcp.dedaluslabs.ai/dedalus-labs/example-server-2/mcp"
              }
            ]
          },
          "credentials": {
            "anyOf": [
              { "$ref": "#/components/schemas/Credential" },
              { "$ref": "#/components/schemas/MCPCredentials" },
              { "type": "null" }
            ],
            "title": "Credentials",
            "description": "Credentials for MCP server authentication. Each credential is matched to servers by connection name.",
            "examples": [
              {
                "connection_name": "external-service",
                "values": { "api_key": "sk-..." }
              },
              [
                {
                  "connection_name": "service-a",
                  "values": { "api_key": "sk-..." }
                },
                {
                  "connection_name": "service-b",
                  "values": { "token": "tok_..." }
                }
              ]
            ]
          },
          "guardrails": {
            "anyOf": [
              {
                "items": { "additionalProperties": true, "type": "object" },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Guardrails",
            "description": "Content filtering and safety policy configuration."
          },
          "handoff_config": {
            "anyOf": [
              { "additionalProperties": true, "type": "object" },
              { "type": "null" }
            ],
            "title": "Handoff Config",
            "description": "Configuration for multi-model handoffs."
          },
          "model_attributes": {
            "anyOf": [
              {
                "additionalProperties": {
                  "additionalProperties": { "type": "number" },
                  "type": "object"
                },
                "type": "object"
              },
              { "type": "null" }
            ],
            "title": "Model Attributes",
            "description": "Model attributes for routing. Maps model IDs to attribute dictionaries with values in [0.0, 1.0].",
            "examples": [{ "gpt-5": { "accuracy": 0.95, "speed": 0.6 } }]
          },
          "agent_attributes": {
            "anyOf": [
              {
                "additionalProperties": { "type": "number" },
                "type": "object"
              },
              { "type": "null" }
            ],
            "title": "Agent Attributes",
            "description": "Agent attributes. Values in [0.0, 1.0].",
            "examples": [{ "accuracy": 0.9, "complexity": 0.8 }]
          },
          "max_turns": {
            "anyOf": [
              { "type": "integer", "maximum": 100, "minimum": 1 },
              { "type": "null" }
            ],
            "title": "Max Turns",
            "description": "Maximum conversation turns.",
            "examples": [5, 10]
          },
          "automatic_tool_execution": {
            "type": "boolean",
            "title": "Automatic Tool Execution",
            "description": "Execute tools server-side. If false, returns raw tool calls for manual handling.",
            "default": true
          },
          "correlation_id": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Correlation Id",
            "description": "Stable session ID for resuming a previous handoff. Returned by the server on handoff; echo it on the next request to resume."
          },
          "deferred_calls": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/DeferredCallResponse"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
            "title": "Deferred Calls",
            "description": "Tier 2 stateless resumption. Deferred tool specs from a previous handoff response, sent back verbatim so the server can resume without Redis."
          },
          "handoff_mode": {
            "anyOf": [{ "type": "boolean" }, { "type": "null" }],
            "title": "Handoff Mode",
            "description": "Handoff control. None or omitted: auto-detect. true: structured handoff (SDK). false: drop-in (LLM re-run for mixed turns)."
          }
        },
        "additionalProperties": true,
        "type": "object",
        "required": ["model"],
        "title": "ChatCompletionRequest",
        "description": "ChatCompletion request schema.\n\nSupports OpenAI-compatible parameters, provider-specific extensions,\nserver-side execution, and agent orchestration features."
      },
      "ChatCompletionRequestAssistantMessage": {
        "properties": {
          "content": {
            "anyOf": [
              { "type": "string" },
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartRefusal"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type",
                    "mapping": {
                      "refusal": "#/components/schemas/ChatCompletionRequestMessageContentPartRefusal",
                      "text": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                    }
                  }
                },
                "type": "array",
                "minItems": 1,
                "title": "ChatCompletionRequestAssistantMessageContentArray"
              },
              { "type": "null" }
            ],
            "title": "Content",
            "description": "The contents of the assistant message. Required unless `tool_calls` or `function_call` is specified.",
            "x-order": 0
          },
          "refusal": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Refusal",
            "description": "The refusal message by the assistant.",
            "x-order": 1
          },
          "role": {
            "type": "string",
            "const": "assistant",
            "title": "Role",
            "description": "The role of the messages author, in this case `assistant`.",
            "x-order": 2
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "x-order": 3
          },
          "audio": {
            "anyOf": [
              { "$ref": "#/components/schemas/Audio" },
              { "type": "null" }
            ],
            "description": "Data about a previous audio response from the model.\n[Learn more](/docs/guides/audio).",
            "x-order": 4
          },
          "tool_calls": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageCustomToolCall"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "custom": "#/components/schemas/ChatCompletionMessageCustomToolCall",
                  "function": "#/components/schemas/ChatCompletionMessageToolCall"
                }
              }
            },
            "type": "array",
            "title": "Tool Calls",
            "description": "The tool calls generated by the model, such as function calls.",
            "x-order": 5
          },
          "function_call": {
            "anyOf": [
              { "$ref": "#/components/schemas/FunctionCall" },
              { "type": "null" }
            ],
            "description": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.",
            "x-order": 6
          }
        },
        "type": "object",
        "required": ["role"],
        "title": "ChatCompletionRequestAssistantMessage",
        "description": "Messages sent by the model in response to user messages.\n\nFields:\n- content (optional): str | Annotated[list[ChatCompletionRequestAssistantMessageContentPart], MinLen(1), ArrayTitle(\"ChatCompletionRequestAssistantMessageContentArray\")] | None\n- refusal (optional): str | None\n- role (required): Literal[\"assistant\"]\n- name (optional): str\n- audio (optional): Audio | None\n- tool_calls (optional): ChatCompletionMessageToolCalls\n- function_call (optional): FunctionCall | None"
      },
      "ChatCompletionRequestAudio": {
        "properties": {
          "voice": {
            "anyOf": [
              { "type": "string" },
              {
                "type": "string",
                "enum": [
                  "alloy",
                  "ash",
                  "ballad",
                  "coral",
                  "echo",
                  "sage",
                  "shimmer",
                  "verse",
                  "marin",
                  "cedar"
                ]
              },
              { "$ref": "#/components/schemas/VoiceIdsOrCustomVoiceInline" }
            ],
            "title": "Voice",
            "description": "The voice the model uses to respond. Supported built-in voices are\n`alloy`, `ash`, `ballad`, `coral`, `echo`, `fable`, `nova`, `onyx`,\n`sage`, `shimmer`, `marin`, and `cedar`. You may also provide a\ncustom voice object with an `id`, for example `{ \"id\": \"voice_1234\" }`.",
            "x-order": 0
          },
          "format": {
            "type": "string",
            "enum": ["wav", "aac", "mp3", "flac", "opus", "pcm16"],
            "title": "Format",
            "description": "Specifies the output audio format. Must be one of `wav`, `mp3`, `flac`,\n`opus`, or `pcm16`.",
            "x-order": 1
          }
        },
        "type": "object",
        "required": ["voice", "format"],
        "title": "ChatCompletionRequestAudio",
        "description": "Parameters for audio output. Required when audio output is requested with\n`modalities: [\"audio\"]`. [Learn more](/docs/guides/audio).\n\nFields:\n- voice (required): VoiceIdsOrCustomVoice\n- format (required): Literal[\"wav\", \"aac\", \"mp3\", \"flac\", \"opus\", \"pcm16\"]",
        "x-ddls-inline": true
      },
      "ChatCompletionRequestDeveloperMessage": {
        "properties": {
          "content": {
            "anyOf": [
              { "type": "string" },
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                },
                "type": "array",
                "minItems": 1,
                "title": "ChatCompletionRequestDeveloperMessageContentArray"
              }
            ],
            "title": "Content",
            "description": "The contents of the developer message.",
            "x-order": 0
          },
          "role": {
            "type": "string",
            "const": "developer",
            "title": "Role",
            "description": "The role of the messages author, in this case `developer`.",
            "x-order": 1
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": ["content", "role"],
        "title": "ChatCompletionRequestDeveloperMessage",
        "description": "Developer-provided instructions that the model should follow, regardless of\nmessages sent by the user. With o1 models and newer, `developer` messages\nreplace the previous `system` messages.\n\nFields:\n- content (required): str | Annotated[list[ChatCompletionRequestMessageContentPartText], MinLen(1), ArrayTitle(\"ChatCompletionRequestDeveloperMessageContentArray\")]\n- role (required): Literal[\"developer\"]\n- name (optional): str"
      },
      "ChatCompletionRequestFunctionMessage": {
        "properties": {
          "role": {
            "type": "string",
            "const": "function",
            "title": "Role",
            "description": "The role of the messages author, in this case `function`.",
            "x-order": 0
          },
          "content": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Content",
            "description": "The contents of the function message.",
            "x-order": 1
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "The name of the function to call.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": ["role", "content", "name"],
        "title": "ChatCompletionRequestFunctionMessage",
        "description": "Schema for ChatCompletionRequestFunctionMessage.\n\nFields:\n- role (required): Literal[\"function\"]\n- content (required): str | None\n- name (required): str"
      },
      "ChatCompletionRequestMessageContentPartAudio": {
        "properties": {
          "type": {
            "type": "string",
            "const": "input_audio",
            "title": "Type",
            "description": "The type of the content part. Always `input_audio`.",
            "x-order": 0
          },
          "input_audio": {
            "properties": {
              "data": {
                "type": "string",
                "title": "Data",
                "description": "Base64 encoded audio data.",
                "x-order": 0
              },
              "format": {
                "type": "string",
                "enum": ["wav", "mp3"],
                "title": "Format",
                "description": "The format of the encoded audio data. Currently supports \"wav\" and \"mp3\".",
                "x-order": 1
              }
            },
            "type": "object",
            "required": ["data", "format"],
            "description": "Schema for InputAudio.\n\nFields:\n- data (required): str\n- format (required): Literal[\"wav\", \"mp3\"]"
          }
        },
        "type": "object",
        "required": ["type", "input_audio"],
        "title": "ChatCompletionRequestMessageContentPartAudio",
        "description": "Learn about [audio inputs](/docs/guides/audio).\n\nFields:\n- type (required): Literal[\"input_audio\"]\n- input_audio (required): InputAudio"
      },
      "ChatCompletionRequestMessageContentPartFile": {
        "properties": {
          "type": {
            "type": "string",
            "const": "file",
            "title": "Type",
            "description": "The type of the content part. Always `file`.",
            "x-order": 0
          },
          "file": {
            "properties": {
              "filename": {
                "type": "string",
                "title": "Filename",
                "description": "The name of the file, used when passing the file to the model as a \nstring.",
                "x-order": 0
              },
              "file_data": {
                "type": "string",
                "title": "File Data",
                "description": "The base64 encoded file data, used when passing the file to the model \nas a string.",
                "x-order": 1
              },
              "file_id": {
                "type": "string",
                "title": "File Id",
                "description": "The ID of an uploaded file to use as input.",
                "x-order": 2
              }
            },
            "type": "object",
            "description": "Schema for File.\n\nFields:\n- filename (optional): str\n- file_data (optional): str\n- file_id (optional): str"
          }
        },
        "type": "object",
        "required": ["type", "file"],
        "title": "ChatCompletionRequestMessageContentPartFile",
        "description": "Learn about [file inputs](/docs/guides/text) for text generation.\n\nFields:\n- type (required): Literal[\"file\"]\n- file (required): File"
      },
      "ChatCompletionRequestMessageContentPartImage": {
        "properties": {
          "type": {
            "type": "string",
            "const": "image_url",
            "title": "Type",
            "description": "The type of the content part.",
            "x-order": 0
          },
          "image_url": {
            "properties": {
              "url": {
                "type": "string",
                "minLength": 1,
                "format": "uri",
                "title": "Url",
                "description": "Either a URL of the image or the base64 encoded image data.",
                "x-order": 0
              },
              "detail": {
                "type": "string",
                "enum": ["auto", "low", "high"],
                "title": "Detail",
                "description": "Specifies the detail level of the image. Learn more in the [Vision guide](/docs/guides/vision#low-or-high-fidelity-image-understanding).",
                "default": "auto",
                "x-order": 1
              }
            },
            "type": "object",
            "required": ["url"],
            "description": "Schema for ImageUrl.\n\nFields:\n- url (required): AnyUrl\n- detail (optional): Literal[\"auto\", \"low\", \"high\"]"
          }
        },
        "type": "object",
        "required": ["type", "image_url"],
        "title": "ChatCompletionRequestMessageContentPartImage",
        "description": "Learn about [image inputs](/docs/guides/vision).\n\nFields:\n- type (required): Literal[\"image_url\"]\n- image_url (required): ImageUrl"
      },
      "ChatCompletionRequestMessageContentPartRefusal": {
        "properties": {
          "type": {
            "type": "string",
            "const": "refusal",
            "title": "Type",
            "description": "The type of the content part.",
            "x-order": 0
          },
          "refusal": {
            "type": "string",
            "title": "Refusal",
            "description": "The refusal message generated by the model.",
            "x-order": 1
          }
        },
        "type": "object",
        "required": ["type", "refusal"],
        "title": "ChatCompletionRequestMessageContentPartRefusal",
        "description": "Schema for ChatCompletionRequestMessageContentPartRefusal.\n\nFields:\n- type (required): Literal[\"refusal\"]\n- refusal (required): str"
      },
      "ChatCompletionRequestMessageContentPartText": {
        "properties": {
          "type": {
            "type": "string",
            "const": "text",
            "title": "Type",
            "description": "The type of the content part.",
            "x-order": 0
          },
          "text": {
            "type": "string",
            "title": "Text",
            "description": "The text content.",
            "x-order": 1
          }
        },
        "type": "object",
        "required": ["type", "text"],
        "title": "ChatCompletionRequestMessageContentPartText",
        "description": "Learn about [text inputs](/docs/guides/text-generation).\n\nFields:\n- type (required): Literal[\"text\"]\n- text (required): str"
      },
      "ChatCompletionRequestSystemMessage": {
        "properties": {
          "content": {
            "anyOf": [
              { "type": "string" },
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                },
                "type": "array",
                "minItems": 1,
                "title": "ChatCompletionRequestSystemMessageContentArray"
              }
            ],
            "title": "Content",
            "description": "The contents of the system message.",
            "x-order": 0
          },
          "role": {
            "type": "string",
            "const": "system",
            "title": "Role",
            "description": "The role of the messages author, in this case `system`.",
            "x-order": 1
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": ["content", "role"],
        "title": "ChatCompletionRequestSystemMessage",
        "description": "Developer-provided instructions that the model should follow, regardless of\nmessages sent by the user. With o1 models and newer, use `developer` messages\nfor this purpose instead.\n\nFields:\n- content (required): str | Annotated[list[ChatCompletionRequestSystemMessageContentPart], MinLen(1), ArrayTitle(\"ChatCompletionRequestSystemMessageContentArray\")]\n- role (required): Literal[\"system\"]\n- name (optional): str"
      },
      "ChatCompletionRequestToolMessage": {
        "properties": {
          "role": {
            "type": "string",
            "const": "tool",
            "title": "Role",
            "description": "The role of the messages author, in this case `tool`.",
            "x-order": 0
          },
          "content": {
            "anyOf": [
              { "type": "string" },
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                },
                "type": "array",
                "minItems": 1,
                "title": "ChatCompletionRequestToolMessageContentArray"
              }
            ],
            "title": "Content",
            "description": "The contents of the tool message.",
            "x-order": 1
          },
          "tool_call_id": {
            "type": "string",
            "title": "Tool Call Id",
            "description": "Tool call that this message is responding to.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": ["role", "content", "tool_call_id"],
        "title": "ChatCompletionRequestToolMessage",
        "description": "Schema for ChatCompletionRequestToolMessage.\n\nFields:\n- role (required): Literal[\"tool\"]\n- content (required): str | Annotated[list[ChatCompletionRequestToolMessageContentPart], MinLen(1), ArrayTitle(\"ChatCompletionRequestToolMessageContentArray\")]\n- tool_call_id (required): str"
      },
      "ChatCompletionRequestUserMessage": {
        "properties": {
          "content": {
            "anyOf": [
              { "type": "string" },
              {
                "items": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartImage"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartAudio"
                    },
                    {
                      "$ref": "#/components/schemas/ChatCompletionRequestMessageContentPartFile"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "type",
                    "mapping": {
                      "file": "#/components/schemas/ChatCompletionRequestMessageContentPartFile",
                      "image_url": "#/components/schemas/ChatCompletionRequestMessageContentPartImage",
                      "input_audio": "#/components/schemas/ChatCompletionRequestMessageContentPartAudio",
                      "text": "#/components/schemas/ChatCompletionRequestMessageContentPartText"
                    }
                  }
                },
                "type": "array",
                "minItems": 1,
                "title": "ChatCompletionRequestUserMessageContentArray"
              }
            ],
            "title": "Content",
            "description": "The contents of the user message.",
            "x-order": 0
          },
          "role": {
            "type": "string",
            "const": "user",
            "title": "Role",
            "description": "The role of the messages author, in this case `user`.",
            "x-order": 1
          },
          "name": {
            "type": "string",
            "title": "Name",
            "description": "An optional name for the participant. Provides the model information to differentiate between participants of the same role.",
            "x-order": 2
          }
        },
        "type": "object",
        "required": ["content", "role"],
        "title": "ChatCompletionRequestUserMessage",
        "description": "Messages sent by an end user, containing prompts or additional context\ninformation.\n\nFields:\n- content (required): str | Annotated[list[ChatCompletionRequestUserMessageContentPart], MinLen(1), ArrayTitle(\"ChatCompletionRequestUserMessageContentArray\")]\n- role (required): Literal[\"user\"]\n- name (optional): str"
      },
      "ChatCompletionResponseMessage": {
        "properties": {
          "content": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Content",
            "description": "The contents of the message.",
            "x-order": 0
          },
          "refusal": {
            "anyOf": [{ "type": "string" }, { "type": "null" }],
            "title": "Refusal",
            "description": "The refusal message generated by the model.",
            "x-order": 1
          },
          "tool_calls": {
            "items": {
              "oneOf": [
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageToolCall"
                },
                {
                  "$ref": "#/components/schemas/ChatCompletionMessageCustomToolCall"
                }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "custom": "#/components/schemas/ChatCompletionMessageCustomToolCall",
                  "function": "#/components/schemas/ChatCompletionMessageToolCall"
                }
              }
            },
            "type": "array",
            "title": "Tool Calls",
            "description": "The tool calls generated by the model, such as function calls.",
            "x-order": 2
          },
          "annotations": {
            "items": {
              "properties": {
                "type": {
                  "type": "string",
                  "const": "url_citation",
                  "title": "Type",
                  "description": "The type of the URL citation. Always `url_citation`.",
                  "x-order": 0
                },
                "url_citation": {
                  "properties": {
                    "end_index": {
                      "type": "integer",
                      "title": "End Index",
                      "description": "The index of the last character of the URL citation in the message.",
                      "x-order": 0
                    },
                    "start_index": {
                      "type": "integer",
                      "title": "Start Index",
                      "description": "The index of the first character of the URL citation in the message.",
                      "x-order": 1
                    },
                    "url": {
                      "type": "string",
                      "title": "Url",
                      "description": "The URL of the web resource.",
                      "x-order": 2
                    },
                    "title": {
                      "type": "string",
                      "title": "Title",
                      "description": "The title of the web resource.",
                      "x-order": 3
                    }
                  },
                  "type": "object",
                  "required": ["end_index", "start_index", "url", "title"],
                  "description": "A URL citation when using web search.\n\nFields:\n- end_index (required): int\n- start_index (required): int\n- url (required): str\n- title (required): str"
                }
              },
              "type": "object",
              "required": ["type", "url_citation"],
              "description": "A URL citation when using web search.\n\nFields:\n- type (required): Literal[\"url_citation\"]\n- url_citation (required): UrlCitation"
            },
            "type": "array",
            "title": "Annotations",
            "description": "Annotations for the message, when applicable, as when using the\n[web search tool](/docs/guides/tools-web-search?api-mode=chat).",
            "x-order": 3
          },
          "role": {
            "type": "string",
            "const": "assistant",
            "title": "Role",
            "description": "The role of the author of this message.",
            "x-order": 4
          },
          "function_call": {
            "properties": {
              "arguments": {
                "type": "string",
                "title": "Arguments",
                "description": "The arguments to call the function with, as generated by the model in JSON format. Note that the model does not always generate valid JSON, and may hallucinate parameters not defined by your function schema. Validate the arguments in your code before calling your function.",
                "x-order": 0
              },
              "name": {
                "type": "string",
                "title": "Name",
                "description": "The name of the function to call.",
                "x-order": 1
              }
            },
            "type": "object",
            "required": ["arguments", "name"],
            "description": "Deprecated and replaced by `tool_calls`. The name and arguments of a function that should be called, as generated by the model.\n\nFields:\n- arguments (required): str\n- name (required): str"
          },
          "audio": {
            "anyOf": [
              {
                "properties": {
                  "id": {
                    "type": "string",
                    "title": "Id",
                    "description": "Unique identifier for this audio response.",
                    "x-order": 0
                  },
                  "expires_at": {
                    "type": "integer",
                    "title": "Expires At",
                    "description": "The Unix timestamp (in seconds) for when this audio response will\nno longer be accessible on the server for use in multi-turn\nconversations.",
                    "x-order": 1
                  },
                  "data": {
                    "type": "string",
                    "title": "Data",
                    "description": "Base64 encoded audio bytes generated by the model, in the format\nspecified in the request.",
                    "x-order": 2
                  },
                  "transcript": {
                    "type": "string",
                    "title": "Transcript",
                    "description": "Transcript of the audio generated by the model.",
                    "x-order": 3
                  }
                },
                "type": "object",
                "required": ["id", "expires_at", "data", "transcript"],
                "description": "If the audio output modality is requested, this object contains data\nabout the audio response from the model. [Learn more](/docs/guides/audio).\n\nFields:\n- id (required): str\n- expires_at (required): int\n- data (required): str\n- transcript (required): str"
              },
              { "type": "null" }
            ],
            "description": "If the audio output modality is requested, this object contains data\nabout the audio response from the model. [Learn more](/docs/guides/audio).",
            "x-order": 6
          }
        },
        "type": "object",
        "required": ["content", "refusal", "role"],
        "title": "ChatCompletionResponseMessage",
        "description": "A chat completion message generated by the model.\n\nFields:\n- content (required): str | None\n- refusal (required): str | None\n- tool_calls (optional): ChatCompletionMessageToolCalls\n- annotations (optional): list[AnnotationsItem]\n- role (required): Literal[\"assistant\"]\n- function_call (optional): ChatCompletionResponseMessageFunctionCall\n- audio (optional): ChatCompletionResponseMessageAudio | None"
      },
      "ChatCompletionTokenLogprob": {
        "properties": {
          "token": {
            "type": "string",
            "title": "Token",
            "description": "The token.",
            "x-order": 0
          },
          "logprob": {
            "type": "number",
            "title": "Logprob",
            "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
            "x-order": 1
          },
          "bytes": {
            "anyOf": [
              { "items": { "type": "integer" }, "type": "array" },
              { "type": "null" }
            ],
            "title": "Bytes",
            "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.",
            "x-order": 2
          },
          "top_logprobs": {
            "items": {
              "properties": {
                "token": {
                  "type": "string",
                  "title": "Token",
                  "description": "The token.",
                  "x-order": 0
                },
                "logprob": {
                  "type": "number",
                  "title": "Logprob",
                  "description": "The log probability of this token, if it is within the top 20 most likely tokens. Otherwise, the value `-9999.0` is used to signify that the token is very unlikely.",
                  "x-order": 1
                },
                "bytes": {
                  "anyOf": [
                    { "items": { "type": "integer" }, "type": "array" },
                    { "type": "null" }
                  ],
                  "title": "Bytes",
                  "description": "A list of integers representing the UTF-8 bytes representation of the token. Useful in instances where characters are represented by multiple tokens and their byte representations must be combined to generate the correct text representation. Can be `null` if there is no bytes representation for the token.",
                  "x-order": 2
                }
              },
              "type": "object",
              "required": ["token", "logprob", "bytes"],
              "description": "Token and its log probability."
            },
            "type": "array",
            "title": "Top Logprobs",
            "description": "List of the most likely tokens and their log probability, at this token position. In rare cases, there may be fewer than the number of requested `top_logprobs` returned.",
            "x-order": 3
          }
        },
        "type": "object",
        "required": ["token", "logprob", "bytes", "top_logprobs"],
        "title": "ChatCompletionTokenLogprob",
        "description": "Token log probability information."
      },
      "Choice": {
        "properties": {
          "finish_reason": {
            "anyOf": [
              {
                "type": "string",
                "enum": [
                  "stop",
                  "length",
                  "tool_calls",
                  "content_filter",
                  "function_call"
                ]
              },
              { "type": "null" }
            ],
            "title": "Finish Reason",
            "description": "The reason the model stopped generating tokens. This will be `stop` if the model hit a natural stop point or a provided stop sequence,\n`length` if the maximum number of tokens specified in the request was reached,\n`content_filter` if content was omitted due to a flag from our content filters,\n`tool_calls` if the model called a tool, or `function_call` (deprecated) if the model called a function.",
            "x-order": 0
          },
          "index": {
            "type": "integer",
            "title": "Index",
            "description": "The index of the choice in the list of choices.",
            "x-order": 1
          },
          "message": {
            "$ref": "#/components/schemas/ChatCompletionResponseMessage",
            "description": "A chat completion message generated by the model.",
            "x-order": 2
          },
          "logprobs": {
            "anyOf": [
              { "$ref": "#/components/schemas/ChoiceLogprobs" },
              { "type": "null" }
            ],
            "description": "Log probability information for the choice.",
            "x-order": 3
          }
        },
        "type": "object",
        "required": ["index", "message"],
        "title": "Choice",
        "description": "A chat completion choice.\n\nOpenAI-compatible choice object for non-streaming responses.\nPart of the ChatCompletion response.",
        "x-ddls-inline": true
      },
      "ChoiceLogprobs": {
        "properties": {
          "content": {
            "anyOf": [
              {
                "items": {
                  "$ref": "#/components/schemas/ChatCompletionTokenLogprob"
                },
                "type": "array"
              },
              { "type": "null" }
            ],
[...]
